[2018-01-06 04:38] keplersj opened #2 "Does Not Support Subgroups"
GitLab supports subgroups in organizations and parent subgroups. Currently this package assumes a (GitHub-like) `owner/repo` structure, breaking repos following a `organization/group/repo` structure.

[2018-01-06 04:59] pvdlg commented on #2
The only I could find regarding the API URL for a repo is: https://docs.gitlab.com/ce/api/README.html#namespaced-path-encoding

Do you have a link to a doc that mention how API URL works for project that are part of an organization?

[2018-01-06 05:20] keplersj commented on #2
I can't find any specific documentation but I imagine they're handled the same. For example here's a GitLab repo which follows the `owner/repo` structure: [https://gitlab.com/gitlab-org/gitlab-ce](gitlab-org/gitlab-ce). And here's a repo following the `organization/group/repo` structure: [https://gitlab.com/gitlab-org/gitter/webapp](gitlab-org/gitter/webapp)

Accessing `gitlab-org/gitlab-ce` from

[2018-01-06 05:24] pvdlg commented on #2
Perfect that helps!

Can you confirm that for a repo like https://gitlab.com/gitlab-org/gitter/webapp the `reporisoty.url` in the package.json will be `https://gitlab.com/gitlab-org/gitter/webapp.git` or `git@gitlab.com:gitlab-org/gitter/webapp.git` ?

[2018-01-06 05:28] keplersj commented on #2
Both `git@gitlab.com:gitlab-org/gitter/webapp.git` and `https://gitlab.com/gitlab-org/gitter/webapp.git` are valid repo URLs for GitLab repos, so I suppose it'd be up to what the developer sets `repository.url` to. I know that for my use cases I've set `repository.url` to the HTTPS variant.

[2018-01-06 05:34] pvdlg commented on #2
Both works with semantic-release, it won't a problem.

My question was related to subgroup and URL. Basically is the API path mirror the Git URL (obtained with `git remote -v`)?

IS the following mapping between web URL and GIT URL is correct:
- https://gitlab.com/a/b => https://gitlab.com/a/b.git
- https://gitlab.com/a/b/c => https://gitlab.com/a/b/c.git
- https://gitlab.com/a/b/c/d => https://gi

[2018-01-06 05:35] keplersj commented on #2
Yes. That mapping is correct.

[2018-01-06 06:05] pvdlg commented on #2
One more question, is it possible to have a GitLab private host with a URL like `https://domain.com/context` ?

I imagine in that case the URL in the `pacakge.json` would be `https://domain.com/context/organization/group/repo` but the API access would be:
[code]
And not:
[code]

[2018-01-07 21:28] #2 closed

[2018-01-21 13:14] greenkeeper[bot] opened #7 "An in-range update of sinon is breaking the build 🚨"
## Version **4.2.0** of [sinon](https://github.com/sinonjs/sinon) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/semantic-release/gitlab/compare/greenkeeper%2Fsinon-4.2.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      sinon
    </td>
  </tr>
  <tr>
    <th align=left>
      Current

[2018-01-21 18:16] #7 closed

[2018-02-06 17:48] DewarM opened #11 "400 Error when publishing"
As title suggests I'm getting a 400 error when publishing to gitlab. I think this is due to
`    body: {tag_name: gitTag, ref: gitHead, release_description: notes}, // eslint-disable-line camelcase
` in `publish.js`

I think this is submitting the incorrect payload. As outlined in the gitlab docs:
- id (required) - The ID or URL-encoded path of the project owned by the authenticated user
- tag_nam

[2018-02-06 18:43] pvdlg commented on #11
It seems it's a duplicate of semantic-release/semantic-release#641 (which is open in the wrong repo).

We are doing a `PUT` but we should do a `POST` here:
https://github.com/semantic-release/gitlab/blob/9cf0a55d2adbb768f795dc1e1798fcbdb2eb8dc3/lib/publish.js#L17

If you can do a PR that'd be great!

You would would also have to changes the tests:
https://github.com/semantic-release/gitlab/blob/9c

[2018-02-06 18:55] pvdlg commented on #11
Also, your right the payload is wrong, `release_description` should be replaced by `description`.
Not sure why the GitLab API to create a tag with a description is so different than the one to add a release note. I guess I got confused between the two when I wrote the code :)

[2018-02-07 18:41] pvdlg commented on #11
@DewarM would you like to try a PR for this issue? Let me know if you need help.

[2018-02-08 09:35] DewarM commented on #11
@pvdlg I think the PR should be done - let me know if I need to make some changes!

[2018-02-09 09:30] #11 closed

[2018-02-24 20:27] greenkeeper[bot] opened #18 "An in-range update of nock is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **9.2.1** of [nock](https://github.com/node-nock/nock) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/semantic-release/gitlab/compare/greenkeeper%2Fnock-9.2.1">Build failing 🚨</

[2018-02-24 22:08] #18 closed

[2018-03-06 20:07] kal727 commented on #11
@pvdlg I got around to playing with this plugin and I think there might still be an issue related to this 400 Bad Request.  Currently, GitLab requires an existing Tag to create a Release, and I don't think you can create a Tag from a Release (https://docs.gitlab.com/ce/api/tags.html). I think publish.js needs to first post to create a Tag, then post a Release to that newly created Tag.

[2018-03-06 20:15] pvdlg commented on #11
No because in recent version of semantic-release the core creates the tag for you. So when the plugin is called the tag is already created for you. So the plugin just have to create the release.

[2018-03-08 01:22] p-ob opened #19 "verifyConditions step fails in subgroup projects"
My organization has a private GitLab instance where it's quite common to organize projects into group/subgroup relationships. I did find issue #2, but that seems to be strictly related to the usage of `/` in project names and properly encoding that for the API url.

I've hunted down the cause of this issue, and I believe it lies in the odd behavior of permission inheritance in GitLab. When making

[2018-03-08 14:33] p-ob commented on #19
Well, I did look into how to handle the "what if you have access at a different level?" The fix I was thinking of would be to try to "happy path" as it exists today, and if that fails (e.g. returns null for both `project_access` and `group_access`):
1. check if the project is part of a subgroup (which looks to exist on the API call made to fetch the project under the "namespace.parent_id", which p

[2018-03-08 15:29] pvdlg commented on #19
Thanks for the analysis!
All that seems quite complex and require deep knowledge of GitLab specificities/weirdness. So I'm not sure we want to implement and maintain in this plugin. We would like to keep this plugin specific to semantic-release.

What I would suggest is to open a feature request with GitLab, proposing an API improvement. Ideally we should be able to make an API call passing a toke

[2018-03-08 17:07] p-ob commented on #19
Good idea. When I have some free time, I'll see what I can whip up.

For reference, looks like I'm not the only one annoyed by the limitations of the GitLab API: https://gitlab.com/gitlab-org/gitlab-ce/issues/43684

[2018-03-08 17:10] pvdlg commented on #19
Thanks. The GitLab issue has been opened a week ago. Let's see if it get some traction.
Having it implemented would be the ideal solution.

[2018-05-10 11:10] constantology opened #26 "Encode git tag in publish release notes URI"
Hey all,

Apologies for the sloppiness of this PR, doing this in a meeting: https://github.com/semantic-release/gitlab/pull/25

I couldn't get @semantic-release/gitlab to publish correctly from our lerna monorepo for shared modules.

I found the issue was with the git tags having a `/` in them that wasn't URI encoded and as such, causing a 404.

Hopefully what I've done is good enough to merge. 🙂

[2018-05-10 18:02] #26 closed

[2018-05-20 08:06] kopax opened #28 "Wrong configuration in README.md"
# Expected

The `README.md` should document how to configure properly

# Problem

The `README.md` information are conflicting with the semantic CLi output

# Reproduction

In readme.md:

[code]

In cli:

[code]

Also, I would like to attract your interest on https://github.com/semantic-release/git/issues/49

I was not able to configure assets for GitLab using the git plugin, is it working with Git

[2018-05-20 18:12] #28 closed

[2018-05-27 19:49] kopax commented on #19
Hi, thanks a lot for that analysis. We are hitting the same error `EGHNOPERMISSION`.

We have been trying to use our `GL_TOKEN` to push (outside semantic-release) within the gitlab-ci and we ended up using an `SSH_PRIVATE_KEY` and ssh protocol.

I have one question @pvdlg , are you using the `GL_TOKEN` (user access token) tu push to the repo? I figured that it was not possible at all. This can be

[2018-06-04 22:13] giocodes opened #31 "break down doc examples to indicate they are options"
By following the docs, one can assume that these two properties are required:
[code]
But by doing so I was getting a 409 Conflict http error.

I want to suggest explaining that they are alternatives, willing to make a PR if you think this will be useful.

[2018-06-05 14:53] pvdlg commented on #31
The `path` options is required because it defines the package name of the plugin to use.  The `gitlabUrl` is not required and if not defined it has a default value which is mentioned in the doc.

So they are not alternative, they are 2 very different things.

You can find more explanation on plugin config here: https://github.com/semantic-release/semantic-release/blob/caribou/docs/usage/plugins.md

[2018-06-05 15:02] giocodes commented on #31
@pvdlg thank you for the quick response.
I've updated the description to explain a bit better the two options. I was not refering to `path` vs `gitlabUrl` but the 1) just string vs 2) object with `path` and `gitlabUrl`

I have a setup working by just using option one (the string), when I had both option one and option two I got an error, I'm guessing because it was trying to publish twice. Does th

[2018-06-05 15:55] pvdlg commented on #31
I think the 2 different options are explained in https://github.com/semantic-release/semantic-release/blob/caribou/docs/usage/plugins.md.

The 409 error doesn't have anything to do with using a String vs and object with `path`. It has to do with the fact that in one case you set `gitlabUrl` and in the other you don't. The problem is probably related to a wrong config of `gitlabUrl`.

If you don't

[2018-06-07 04:10] greenkeeper[bot] opened #32 "An in-range update of nock is breaking the build 🚨"
## Version **9.3.1** of [nock](https://github.com/node-nock/nock) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/semantic-release/gitlab/compare/master...semantic-release:greenkeeper%2Fnock-9.3.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      <code>nock</code>

[2018-06-07 06:07] #32 closed

[2018-06-19 12:57] trumbitta commented on #19
@kopax did your solution with ssh work with `@semantic-release/gitlab`? And how did you add the private key to Gitlab?

[2018-06-19 13:18] trumbitta commented on #19
A note: to make it finally work with `GL_TOKEN` I also had to use the optional `GL_URL` and `GL_PREFIX` variables instead of the configuration in `package.json` that wasn't working for me.

[2018-07-16 21:45] joshdcomp opened #35 "Which package is correct?"
Hi! I'm a bit confused…there are two packages in NPM purporting to be _the_ Semantic Release Gitlab publisher—this one, called `@semantic-release/gitlab` and another called  `semantic-release-gitlab`, can you give some clarification as to what the difference is?

[2018-07-16 22:05] pvdlg commented on #35
`@semantic-release/gitlab` is a plugin to support releases on GitLab. It is part of the `semantic-release` organization and maintain by the same team.

`semantic-release-gitlab` is not affiliated with semantic-release. I cannot speak for what it is or what it does.

[2018-07-17 15:24] joshdcomp commented on #35
@pvdlg thanks for the quick response! For posterity Hutson Betts is the maintainer for the other package, his [response is here](https://gitlab.com/hyper-expanse/open-source/semantic-release-gitlab/issues/41), notably:

[2018-07-17 15:25] joshdcomp commented on #35
That said, seems the official package is here, for my money this is the 'correct' one to use. Closing :D

[2018-07-17 15:25] #35 closed

[2018-07-17 16:30] joshdcomp commented on #19
Running into this issue as well, if Gitlab subgroups aren't supported with `verifyConditions`, can a note get added to the documentation saying as much? I spent a whole day and a good portion of this morning debugging our entire GL environment before finding this thread

And per @trumbitta's note, I didn't have the same luck—I ended up having to set `verifyConditions: []` in my `.releaserc` file b

[2018-07-19 20:32] ClemMakesApps commented on #19
I also ran into this issue with https://gitlab.com/gitlab-org/frontend/gitlab-ui/
The user that was setup to run `semantic-release` already had `push` access from the parent group level but it was still failing as replicated in this issue. I had to explicitly add the user to my subgroup project as a `maintainer` (push access) before it started working again.

Also, I work at GitLab and just pinged

[2018-07-19 22:23] kopax commented on #19
@ClemMakesApps hi, if you work at GitLab, maybe you can help us with an issue we have between Gitlab-CI, semantic-release and `@semantic-release/gitlab`:

The gitlab plugin push to gitlab, we are deploying the documentation avec the semantic-release but because of that push and the current gitlab page driver, the page documentation was failing, it is reported in details here:

https://gitlab.com/g

[2018-08-09 15:42] Begi opened #39 "Tag is already created with semantic-release"
Git tag is already created before the "publish" step with semantic-release

https://github.com/semantic-release/semantic-release/blob/b89523105cf04298f1f44858a02cc76c6c5dd0a5/index.js#L106
[code]
So the POST request fails when creating the tag.

Instead PUT request will update the created tag with associated notes

[2018-08-13 15:38] pvdlg commented on #39
Closing as it seems there is no issue and no answer was provided.

[2018-08-13 15:38] #39 closed

[2018-08-13 17:47] joshdcomp opened #40 "Comment on issues resolved by current release"
This may be on a roadmap but I didn't see any issues related to it so I figured I'd drop one here to at least indicate my support:

Similar to `semantic-release/github`, it would be awesome if the gitlab package had success/fail plugins to comment on issues related to the current release.

---

As an aside If I can get buy-in from my manager to work on this I'd be happy to but it's nothing to bank

[2018-08-13 19:01] pvdlg commented on #40
semantic-release is only aware of the commits included in the release. In order to figure out which Merge Request or issue to comment it needs to:
1. Parse the content of commit message and look for closing keywords (e.g. `Fix #123`)
2. Find the merged Merge Requests that contains any commits from the release
3. Parse the content of those Merge Requests and look for closing keywords (e.g. `Fix #12

[2018-08-13 20:18] joshdcomp commented on #40
Ah ok—is the team opposed to at least expose notification functionality for item 1? It would be nice to have _some_ method to automate notifying people when we've fixed their issues

[2018-08-23 12:10] greenkeeper[bot] opened #42 "An in-range update of got is breaking the build 🚨"
## Version **9.1.0** of **got** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/semantic-release/gitlab/compare/master...semantic-release:greenkeeper%2Fgot-9.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/sindresorhus/go

[2018-08-24 10:35] #42 closed

[2018-11-08 16:27] greenkeeper opened #52 "An in-range update of got is breaking the build 🚨"
## The dependency [got](https://github.com/sindresorhus/got) was updated from `9.3.1` to `9.3.2`.

🚨 [View failing branch](https://github.com/semantic-release/gitlab/compare/master...semantic-release:greenkeeper%2Fgot-9.3.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

got is a direct dependency of this project, and **

[2018-11-09 01:25] #52 closed, assigned to nobody

[2018-11-12 23:05] vxcamiloxv opened #54 "Assets on release tag"
Similar to semantic-release/github, it would be awesome if the gitlab package add a assets on the release notes: see this API endpoint https://docs.gitlab.com/ce/api/projects.html#upload-a-file

[2018-11-13 16:25] pvdlg commented on #54
According to the doc you linked this API function is for uploading "a file to the specified project to be used in an issue or merge request description, or a comment" and not for adding assets to a release.

So it doesn't seems to be possible at the moment to add files to a release.

[2018-11-13 17:43] vxcamiloxv commented on #54
But, for the release is the same to comments or merge request, when you add a file in the tag the results are the same, for example, this file was uploaded manually from the tag editor.

[code]
the result when you use an `upload` endpoint is the same `/uploads/hash/...`

![screenshot-2018-11-13_12-41-13](https://user-images.githubusercontent.com/14242544/48432173-a57b1e80-e741-11e8-8c5e-4259902ae3

[2018-11-13 19:12] pvdlg commented on #54
So we would need to upload the file, get the auto-generated link and add that at the bottom of the release message?
That seems kind of a workaround but why not. Do you know if there is any plan/opened issue in GitLab for adding a proper API for releases similar to the one in GitHub?

[2018-11-13 20:45] vxcamiloxv commented on #54
@pvdlg a GitLab development says: "Actually, GitLab already supports this feature. In GitLab, the release notes are implemented basically as a markdown note, similar to issues or merge requests. These markdown notes support uploads. To attach a file to the release, you have to link it in the release notes. So the first step is uploading a file via the API, which is returning the upload directory a

[2018-11-26 19:36] #54 closed

[2019-01-15 08:50] gimyboya opened #63 "Failed step "verifyConditions" with EINVALIDGLTOKEN and EGITNOPERMISSION error"
I have been trying to figure this out for quite sometime now and i have tried all possible ways that i can think of.

The build is always failing with the following logs
[code]

weather i set the variables in gitlab CI/CD settings or in the `.releaserc` or in the `gitlab.ci.yml` all of these didn't work i even tried to put `"verifyConditions": [],` in the `@semantic-release/gitlab` options in the

[2019-01-15 16:53] pvdlg commented on #63
I think there is some confusion there because environment variables cannot be set in `.releaserc`.

You have the set the environment variable `GH_TOKEN` with the value of a token associated with a user that is allowed to push to your repo.

[2019-01-15 16:59] gimyboya commented on #63
@pvdlg Sorry, yes I was referring to the `GL_URL` and `GL_PREFIX` in that case as recommended [here](https://github.com/semantic-release/gitlab/issues/19#issuecomment-398395759)

[2019-01-15 17:00] gimyboya commented on #63
as for the `GL_TOKEN` i have tried in both the `gitlab-ci-yml` and in the CI/CD settings

[2019-01-15 17:51] pvdlg commented on #63
Can you run semantic-release with `--debug` and provide the full logs?

[2019-01-15 18:15] gimyboya commented on #63
sure thing

[code]

it seems that gitlab don't have push access while I have configured an access token that has push privileges and I am made an owner of the repo (not the group tho)

[2019-01-15 18:31] gimyboya commented on #63
i am getting this on the console after doing the necessary replacements
[code]

[2019-01-15 18:41] pvdlg commented on #63
That means GitLab redirects you to the sign in page, which confirmed what I said before: the token set in GH_TOKEN doesn't allow to access the GitLab API or that your configuration for the API url is wrong.

[2019-01-15 18:42] gimyboya commented on #63
and how do i fix this exactly? because the token was generated from the settings page

[2019-01-15 18:45] pvdlg commented on #63
What is the URL of your GitLab instance?
did you configured `GL_PREFIX` or `GL_URL`? To what value?

[2019-01-15 18:47] gimyboya commented on #63
`GL_URL` `https://gitlab.com/grainer-core/rc-api.git`
`GL_Prefix` `/api/v4`

[2019-01-15 18:51] gimyboya commented on #63
I can ommit the `GL_PREFIX` i set it just in case and it wasn't working with or without it also i thing in the debug file you can see the `repositoryUrl: 'https://gitlab.com/mygroup/myrepo'` the `repoId: 'mygroup/myrepo'` and the `apiUrl: 'https://gitlab.com/mygroup/myrepo.git/api/v4'` which for simplification i have replaced `grainer-core/rc-api` to `mygroup/myrepo`

[2019-01-15 18:51] pvdlg commented on #63
Please see the documentation for `GL_URL`: https://github.com/semantic-release/gitlab#environment-variables

Is your GitLab instance URL is `https://gitlab.com/grainer-core/rc-api.git`? Because it looks like the URL of your repo, not the URL of GitLab.

[2019-01-15 18:53] gimyboya commented on #63
kindly read the above reply :) I changed the debug output before pasting it to make things easier

[2019-01-15 19:00] pvdlg commented on #63
I understood that you made this replacement in the logs. That doesn't change my point though.

`https://gitlab.com/grainer-core/rc-api.git` or `https://gitlab.com/mygroup/myrepo.git` or `https://gitlab.com/anything/anything.git` doesn't look like the URL of a GitLab instance. It look like the URL of a repo.

This is why I pointed you to the documentation explaining that `GL_URL` has to be set with

[2019-01-15 19:18] gimyboya commented on #63
@pvdlg Thank you very much the problem was indeed in the `GL_URL` as I understood it to be the repository url

[2019-01-15 19:18] #63 closed

[2019-01-28 21:32] joelnet opened #64 "Failed step "verifyConditions" of plugin "@semantic-release/gitlab""
Can't get passed `"verifyConditions"` with the `@semantic-release/gitlab` plugin.

[code]

`.releaserc.yml`:

[code]

`GITLAB_TOKEN` permissions:

Name | Created | Expires | Scopes |  
-- | -- | -- | -- | --
semantic-release | Jan 28, 2019 | In almost 80 years | api, read_user, read_repository | Revoke

I read through https://github.com/semantic-release/gitlab/issues/19, but wasn't able to get any

[2019-01-29 22:04] pvdlg commented on #64
The user associated with the token need to have push permission on the repo. That's different than the  scope of the token.

[2019-01-30 01:52] joelnet commented on #64
The user is set as a `Maintainer` and can push locally to the `master` branch.

This could be related to the gitlab group permissions bug.

[2019-01-30 21:12] pvdlg commented on #64
What is the result of `curl --header "PRIVATE-TOKEN:<YOUR_TOKEN>"  https://gitlabdev.paciolan.info/projects/development/library/javascript/react-primitive-components` ?
In particular what's the value of the `permissions` property?

[2019-01-30 22:09] joelnet commented on #64
Hmm... I'm getting a redirect message from the curl.

`<html><body>You are being <a href="https://gitlabdev.paciolan.info/users/sign_in">redirected</a>.</body></html>`

[2019-01-31 19:33] pvdlg commented on #64
Sorry the correct curl command is `curl --header "PRIVATE-TOKEN:<YOUR_TOKEN>" https://gitlabdev.paciolan.info//api/v4/projects/development/library/javascript/react-primitive-components`

[2019-02-01 20:00] pvdlg commented on #64
So as you can see from the error message `https://gitlabdev.paciolan.info/api/v4/projects/development/library/javascript/react-primitive-components` doesn't exists.

As [mentioned in the docs](https://github.com/semantic-release/gitlab#options) you have to set `gitlabUrl` and `gitlabApiPathPrefix` to match your environment.

[2019-02-02 16:19] joonhwa opened #65 "Publish links instead of files"
My project is building and releasing containers. How can i show links in the release notes? Currently it shows a list of files but is not ideal in my case as i rather have a link to an image in the container registry.

[2019-02-04 15:51] gund opened #66 "409 Conflict error while posting release"
Hi! I've been using this library for a long time with different providers (github, gitlab, bitbucket) and it was working always good.

However on one of my projects on gitlab I stated to face errors `409 Conflict` while posting a release for tags on master.

First I want to explain the model of releases that I'm using there to give you the context.

I have 2 main branches: master and develop.
Rele

[2019-02-04 22:35] pvdlg commented on #64
semantic-release does support releasing with an ssh key: https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/git-auth-ssh-keys.md

If you configure those variables as you mentioned that mean the plugin is going to call the GitLab API on `https://gitlabdev.paciolan.info/api/v4` however as the `curl` command showed you this URL doesn't exist. You have to configure those var

[2019-02-04 22:51] pvdlg commented on #66
I don't know why it would return this error. The call seems conform wit the documentation: https://docs.gitlab.com/ee/api/tags.html#create-a-new-release.

According to your explanation it seems the API return a 409 when trying to add a release to a tag pointing to a commit that is already referenced by another tag. I don't see why it would be forbidden.
So it looks like a GitLab API bug to me.

[2019-02-05 01:17] joonhwa commented on #65
hi.. my apologies.. i should have provided more details.

So my project is primarily concerned with building Docker images and hosting them from Gitlab Container Registry. The ci job now runs in 3 stages: build, test, tag. During the tagging stage i would like to automatically git tag that particular commit to make it as a release and also generate a release note. I managed to get everything runni

[2019-02-05 15:22] eReGeBe commented on #19
Update on https://gitlab.com/gitlab-org/gitlab-ce/issues/43684: we [merged a change](https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/24403) that will return the maximum group access level from across the subgroup hierarchy, which should solve the problem reported on this issue. It'll be included on the next GitLab release (11.8).

[2019-02-05 19:14] pvdlg commented on #65
Ok I understand. So the only solution is to create a custom `generateNotes` plugin that would append the link you want to add to the release note.

Alternatively you can do that with a script using the `@semantic-release/exec` plugin and setting the `generateNotesCmd` option to point to a script that would output the link you want to append to the release note.

[2019-02-05 22:11] pvdlg commented on #19
Thanks. I guess this issue can be closed then.

[2019-02-05 22:11] #19 closed

[2019-02-06 01:37] joonhwa commented on #65
ok cool... i will give that a try.. thanks!

[2019-02-11 20:07] #65 closed

[2019-02-11 20:07] pvdlg commented on #66
Seems a bug on GitLab side. Please re-open if not.

[2019-02-11 20:07] #66 closed

[2019-02-16 15:17] varijkapil13 commented on #64
I am having the same problem. When I create the same url pattern as you mentioned in one of your comments above, I get `{"error": "404 not found"}` response. But then I try to find the url of the repository, by sending a request to `<gitlab_url>/api/v4/projects`, I get the same url as project url that I try to access before.
BUT, in the links section, there is another url, that has project id in p

[2019-05-22 19:51] aldinei-sampaio opened #73 "Error: No token provided for GitLab"
I am receiving the following error:

`semantic-delivery-gitlab failed for the following reason - Error: No token provided for GitLab.`

Both the environment variables GITLAB_TOKEN and GL_TOKEN are defined. I am running on Windows.

![image](https://user-images.githubusercontent.com/7284431/58203892-87264a80-7cb1-11e9-8eed-4e439153c166.png)

[2019-06-05 19:28] pvdlg commented on #73
I don't know what `semantic-delivery-gitlab` is but that's not that project.
You should open issue in the repo of the tool you are using.

[2019-06-05 19:28] #73 closed

[2019-06-11 06:11] vidur149 opened #75 "Gitlab user doesnt have access to push to the repo"
Please help me solve this error message. I have created the Gitlab token, gave all the permissions to the token. I have access rights to push to the repo, which is a private project. I am still not able to use semantic-release. I guess I am doing something wrong but what exactly is the problem I am not able to find out. Below are the configs for my yml file and the semantic release logs.

```packa

[2019-06-11 08:44] gajus opened #76 "Validation failed: Description can\'t be blank"
I am running:

[code]

and getting:

[code]

It is not clear what description the error is referring to.

Here is an example of another (public) project getting the same error:

https://git.happy-dev.fr/startinblox/devops/siblab-js/-/jobs/5312

[2019-06-12 16:13] pvdlg commented on #76
According to your configuration ([here](https://git.happy-dev.fr/startinblox/devops/siblab-js/blob/master/package.json#L17)) you are not using any plugin to generate the changelog.

It seems the GitLab API require a description when associating a release to a tag. This description is the release not which is generated by the `generateNotes` plugins.

Is it intentional to not have any `generateNote

[2019-06-12 16:19] pvdlg commented on #75
Per the documentation `gitlabUrl` must be the GitLab server URL. It seems that you configured the full of your repo instead.

[2019-06-12 16:26] gajus commented on #76
I am not using any `generateNotes` plugins. Where is this requirement documented?

[2019-06-12 18:03] pvdlg commented on #76
It's not documented as I didn't know GitLab required a description for the release.
What's the reason to not use a `generateNotes` plugin?

[2019-06-12 18:23] vidur149 commented on #75
@pvdlg where to find the gitlab URL according to me this is the `https://gitlab.orionic.com/ma/ui_g2.git` URL and this is what I have been using.

[2019-06-12 18:26] pvdlg commented on #75
For the public GitLab the URL is `https://gitlab.com` and the repo URL look like `https://gitlab.com/user/repo.git`.
So I'm guessing in your case `https://gitlab.orionic.com`.

[2019-06-12 18:37] vidur149 commented on #75
@pvdlg Thanks, it worked. I feel so stupid doing this mistake. I had tried almost every permutation and combination and still wasnt able to find out.

[2019-06-12 18:37] #75 closed

[2019-06-12 19:01] gajus commented on #76
I don't know what `generateNotes` plugin is and why I should use it, other than what you just told me. Is there a documentation for how to install/ what it does?

[2019-06-12 19:03] pvdlg commented on #76
https://github.com/semantic-release/semantic-release#release-steps

https://github.com/semantic-release/semantic-release/blob/master/docs/usage/plugins.md#plugins

https://github.com/semantic-release/release-notes-generator

[2019-06-12 22:59] gajus commented on #76
Thank you – it works.

I would include this as a minimum-required configuration to the `@semantic-release/gitlab` README.md:

[code]

and would also explain that the `@semantic-release/release-notes-generator` and `@semantic-release/npm` do not need to be installed separately, as per https://github.com/semantic-release/semantic-release/blob/master/docs/usage/plugins.md#plugins-installation.

[2019-06-12 22:59] #76 closed

[2019-07-04 15:38] Nargonath opened #80 "GitLab error 400 "released_at" is missing"
I supposed GitLab updated their API because it used to work and without us changing anything we get now a 400 HTTP status code error. This happens when trying to publish the tag in GitLab.

Here are some details that we get from GitLab in our CI:
`ERROR:  null value in column "released_at" violates not-null constraint`
`INSERT INTO "releases" ("tag", "description", "project_id", "created_at", "upd

[2019-07-04 15:45] Nargonath commented on #80
One thing I can add is that the basic tag is created in GitLab but it errors when trying to add the detailed changelog to it.

[2019-07-17 16:11] eugenechu commented on #80
Got similar error when using `@semantic-release/gitlab@3.1.2` and `@semantic-release/git@7.0.8` but with field tag desription.
`
Failed step "publish" of plugin "@semantic-release/gitlab"
An error occurred while running semantic-release: { HTTPError: Response code 400 (Bad Request)
...
 body: '{"tag_name":"v0.5.5","description":""}',
...
 body: { message: "Validation failed: Description can't be b

[2019-08-07 14:41] unlight opened #84 "GITLAB_URL & GITLAB_PREFIX can be replaced by CI_API_V4_URL and be optional for any gitlab instance since 11.7"
GITLAB_URL & GITLAB_PREFIX can be replaced by CI_API_V4_URL and be optional  for any gitlab instance since 11.7

https://docs.gitlab.com/ee/ci/variables/predefined_variables.html

[2019-08-13 19:30] pvdlg commented on #84
`GITLAB_URL` and `GITLAB_PREFIX` are semantic-release specific environment variables.

`CI_API_V4_URL` is an environment variable that is set by GitLab only when you use GitLab CI.

Those serve different purpose.

[2019-08-13 19:30] #84 closed

[2019-08-13 19:36] pvdlg commented on #80
This plugin doesn't send `released_at` when calling the create release API.
However, according to the GitLab documentation (https://docs.gitlab.com/ee/api/releases/#create-a-release) the field `released_at` is not required.
So this seems to be a bug in GitLab. Could you open an issue with GitLab?

[2019-08-13 20:33] unlight commented on #84
What I mean, that you can use it in code, e.g:
[code]

[2019-08-14 08:16] Nargonath commented on #80
Thanks for the answer @pvdlg . I'll go create an issue and link it back here.

[2019-08-14 08:26] Nargonath commented on #80
There seems to already have an opened issue on the matter, I just made a comment mentioning this issue: https://gitlab.com/gitlab-org/gitlab-ce/merge_requests/29577#note_203520370.

[2019-08-14 16:07] pvdlg commented on #80
It seems it was merged. Can this issue be closed then?

[2019-08-15 12:43] eugenechu commented on #80
I got this issue fixed with GitLab updated to 12.1 version + latest version of semantic-release(15.13.21 if I not mistaken).

[2019-08-30 18:25] #80 closed

[2019-09-02 09:41] esciara commented on #63
As a correction (as I spent quite some time understanding what was going wrong) the correct `curl` to use is:
[code]
So `Private-Token` instead of `X-Private-Token` and `mygroup%2Fmyrepo` instead of `mygroup/myrepo`. See [GitLab's API doc on personal access tokens](https://docs.gitlab.com/ee/api/#personal-access-tokens) and [GitLab's API doc on namespaced path encoding](https://docs.gitlab.com/ee/

[2019-09-02 10:09] esciara opened #87 "Confusing "EGITNOPERMISSION" during "verifyConditions" step when accessing repo fails"
When running `npx semantic-release --branch my_branch --repository-url http://my.gitlab.domain/my_group/my_repo.git --no-ci` while the server is down, or when the repo URL is wrong, `@semantic-release/gitlab` always throws a `EGITNOPERMISSION` error, which is erronous and can be confusing.

Is there any way to have the status checked before throwing this error? There are other instance when it is

[2019-09-09 10:11] Nargonath commented on #80
Alright cool if this was fixed. Thanks for closing the issue.

[2019-09-19 19:54] pvdlg commented on #87
We verify we have access to the Git repo using the `git` CLI by calling `git push --dry-run <repo url> HEAD:<branch>`.
Unfortunately the error code returned by this command is the same whether the error is due to lack of permission or an invalid URL or a server down.

I guess we can improve the error message to mention the issue might also be related to the configuration of the repo URL.

[2019-10-10 17:35] onrige opened #90 "Beta for semantic-release@16.0.0 (multi-channels)"
Hello. Do you have any plans to update this package for compatibility with semantic-release@16.0.0-beta (multi-channel releases)? All packages has been already updated and this is the last one :)

[2019-10-10 18:43] pvdlg commented on #90
As far as I can tell there is no notion of channel nor pre-releases in GitLab so this package doesn't have to be updated.

[2019-10-10 18:43] #90 closed

[2019-10-11 12:29] efuturetoday opened #91 "Wrong links in release-notes"
Hello all,

first thanks for your awesome work! Currently, we are using a selfhosted Gitlab instance to manage our internal source codes. I have a npm-package that is using semantic-release in order to create a Gitlab release. The problem is that the release-notes has wrong commit links every commit is like this `/binary-factory/wp-theme-binary-factory-ci-test/dev/6ebe4ac` but it should be `/binar

[2019-10-21 09:44] esciara opened #92 "EGLNOPERMISSION and EINVALIDGLTOKEN thrown even with a valid token that has the correct permissions"
Despite having set `GITLAB_TOKEN` with a valid token that has the correct permissions, I have the following error:
[code]

My project has the id 3 on gitlab, I receive the correct response when doing the following `curl`:
[code]

However when doing a curl using the [project's namespace](https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding) (as does the plugin's code), I have the fol

[2019-10-21 11:10] esciara commented on #92
After doing some research around the issue with using project's namespace to find gitlab projects, I re-discovered the details of problematic reverse-proxy configurations in https://github.com/semantic-release/gitlab/issues/63#issuecomment-527080331 (I actually wrote this comment and forgot about it...):

I have found other reports the web of this being an issue, including one specific to `semanti

[2019-10-21 16:06] pvdlg commented on #92
Indeed we shouldn't send both `EGLNOPERMISSION` and `EINVALIDGLTOKEN`. See fix in https://github.com/semantic-release/gitlab/pull/93

However I don't think the a `404` response cause this. If the GitLab API was responding with a `404` [the plugin would throw a `EMISSINGREPO` error](https://github.com/semantic-release/gitlab/blob/4a1059e92c5c298679b9f18d849923b349b45a8e/lib/verify.js#L60).
Because

[2019-10-21 22:48] esciara commented on #92
Here is what is going through my pipeline:
[code]

And if I look into that code:

https://github.com/semantic-release/gitlab/blob/1cc5f441432fa69aa97250377d2d73918593823a/lib/verify.js#L47-L68

It means that the error is thrown when calling:
[code]

And the equivalent for ``urlJoin(apiUrl, `/projects/${encodeURIComponent(repoId)}`)`` should be `${GITLAB_URL}${GITLAB_PREFIX}/projects/root%2Fmy-proj

[2019-10-22 15:51] pvdlg commented on #92
I don't know...It seems pretty clear that what you get is a `401` because that's the only way the plugin can return the error `EINVALIDGLTOKEN`.
I don't know how to debug that with your particular environment. Maybe you can fork this repo and add some `console.log` to try to figure out what's going on.

[2019-10-23 06:32] esciara commented on #92
OK, I will be digging. In the meantime, I have worked on improving the tests so that the pb of `EGLNOPERMISSION` and `EINVALIDGLTOKEN` being thrown would be caught. I am discovering some other things in the process. Will open another issue for this particular work on tests improvements.

[2019-10-23 06:34] esciara opened #94 "Test suite improvements"
Problems like #92 where not caught by the unit tests. They need to be improved.

[2019-10-26 22:26] esciara commented on #92
I have found the origin of the `Invalid GitLab token`: I needed to add `export` to propagate the environment variables to `semantic-release`, hence:
[code]

When missing `export`, then the `gitlabUrl` defaults to `https://gitlab.com`... and indeed my token is not valid there. I did not have the problem with `GITLAB_TOKEN` because it was set though the [GitLab interface](https://docs.gitlab.com/ee/

[2019-10-26 22:26] #92 closed

[2019-10-26 23:00] esciara opened #99 "EMISSINGREPO thrown when in fact the reverse proxy in front of GitLab is incorrectly configured"
See toward the end of https://github.com/semantic-release/gitlab/issues/63#issuecomment-527080331.

Verification currently does not make a distinction when the repository is really missing (response with `statusCode` at `404` and `statusMessage` is `Project Not Found`) and when there is a problem with a badly configured reverse-proxy (same but `statusMessage` is `Not Found`).

[2019-10-28 01:41] pvdlg commented on #99
See https://github.com/semantic-release/gitlab/pull/100#issuecomment-546760092

[2019-10-28 01:41] #99 closed

[2019-10-28 01:43] pvdlg commented on #94
See https://github.com/semantic-release/gitlab/pull/95#issuecomment-546760455

[2019-10-28 01:43] #94 closed

[2019-10-30 20:53] IliasDeros opened #101 "Cannot configure GITLAB_URL"
Setting the GITLAB_URL environment variable doesn't seem to affect the URL where semantic-release is publishing to.

## Package.json
[code]

## Logs

Notice the _Username for 'https://gitlab.com'_
[code]

## Environment
* MacOS 10.14.5
* Node 11.10.1
* NPM v6.7.0

How do I configure the gitlab URL to point to my private gitlab?

[2019-10-31 03:08] pvdlg commented on #101
The `GITLAB_URL` is used to specify the URL to reach the API. It seems the problematic configuration is the [`repositoryUrl` option](https://github.com/semantic-release/semantic-release/blob/master/docs/usage/configuration.md#repositoryurl) that you somehow configured to `gitlab.com`.

[2019-10-31 03:08] #101 closed

[2019-12-05 15:47] oupala opened #105 "gitlabUrl could be retrieved from package.json"
The `gitlabUrl` value is currently is retrieved from an environment variable (or has a default value) (see [documentation](https://github.com/semantic-release/gitlab#options)):

In fact the information is already available in the `package.json` file (if any) in the `repository.url` field. Could it be a source of information sourced, in order to avoid repeating the same information?

This usecase i

[2019-12-05 16:04] pvdlg commented on #105
The `repositoryUrl` and the `gitlabUrl` are two different things. `repositoryUrl` is the URL of the Git repo,  `gitlabUrl`  is the URL of the GitLab API. Those might overlap but not necessarily.

I don't think there is a way to determine that with certainty. If you know one let us know.

[2019-12-12 21:17] amclin commented on #105
I'm running into a situation where `gitlabUrl` is not being used from package.json:
[code]

When I look at errors in my logs, I can see that the `repository.url` is being used instead, even though I provided gitlabUrl specifically for this scenario:
[code]
It does work if I provide `GITLAB_URL` as an environment variable. So why would the environment variable work, but the expected property in pac

[2019-12-13 10:24] oupala commented on #105
It should overlap most of the time though. It could then be deducted from `repositoryUrl` by default, and allow overriding by the user when  it does not overlap.

@amclin You're issue is a bit different. I think you should open a specific issue for your problem.

[2019-12-14 04:39] pvdlg commented on #105
Parsing Git URL is a lot more difficult than what it seems and we had a lot of issues in the past with that.
That's because there is multiple ways to define a Git URL: http, http+git, git (as in `git@host:owner/repo`) or ssh.

So that leave us in several situations were we can't determine the API URL based on the repo URL. For example with a `git` or `ssh` we cannot get the port.

We prefer to for

[2019-12-14 04:39] #105 closed

[2019-12-14 04:42] pvdlg commented on #105
@amclin as I explained in the previous message `repository.url` and `gitlabUrl` are two different things.
`repositoryUrl` is used for Git calls, `gitlabUrl` is used for API calls.
The error you have is related to `repository.url` and it happens because semantic-release doesn't have the permission to run `git push`.

[2019-12-14 23:43] aron19951209 opened #111 "How to bundle assets to a label.zip"
Is it possible to keep folder structure and bundle to a zip like following:
[code]

[2019-12-15 03:44] pvdlg commented on #111
You would have to do that as part of your build, after generating the assets you want to bundle.
The scope of this plugin is to upload assets to a GitLab release. Producing those file is the responsibility of your project build scripts. It wouldn't make much sense to move the bundling to this plugin anyway as every project bundle differently.

[2019-12-15 03:44] #111 closed

[2019-12-17 14:14] oupala commented on #105
I agree it would be touchy to parse the `repositoryUrl` in order to deduct `gitlabUrl` as there is many edge cases.

However, there could be some alternative to defining a specific `GITLAB_URL` variable:

- `CI_API_V4_URL` is directly the api url, replacing `GITLAB_URL` **and** `GITLAB_PREFIX`
- `CI_SERVER_HOST` is the GitLab hostname, replacing `GITLAB_URL`

[code]

It is a shame to be oblige to

[2019-12-19 15:25] aron19951209 commented on #111
@pvdlg This's what I expected:
![bootstrap github](https://i.imgur.com/RgDwxvW.png)

The plugin @semantic-release/git can meet the needs of the above picture, I hope this plugin so.

[2019-12-20 19:42] amclin opened #113 "Understanding inconsistent behavior across github, gitlab, and git plugins"
It's a bit strange that @semantic-release/gitlab will tag a commit and create a gitlab release, but it doesn't do the other features that @semantic-release/git will do, such as committing changed files with a specified commit message.

If I remember correctly, @semantic-release/github creates a github release, but does NOT tag a commit. You are relegated to using the git plugin for tagging.

Since

[2019-12-20 20:01] travi commented on #113
tagging is part of semantic-release core, not the git plugin. semantic-release needs the version tags to be present in the commit history to determine when the previous version was released when determining the details of the next release, so it must be in core.

what evidence are you seeing of tagging happening outside of core?

[2019-12-20 20:04] amclin opened #114 "Automatically populate gitlabUrl when running from gitlab pipelines"
When using gitlab pipelines, it would be nice to populate `gitlabUrl` and `gitlabApiPathPrefix` automatically, as the necessary values are provided by the pipelines:

Gitlab pipelines provide the following environment variables out of the box:

- `CI_API_V4_URL` is directly the api url, replacing `GITLAB_URL` **and** `GITLAB_PREFIX`
- `CI_SERVER_HOST` is the GitLab hostname, replacing `GITLAB_URL`

[2019-12-20 20:15] amclin commented on #113
If my project uses the gitlab plugin, without the git plugin, then a tag is still created, presumably via the gitlab API?

It's confusing that a git operation (tagging) works, but other git operations do not work because the plugin is not present.

Furthermore, since URL configurations and requirements differ between plugins, it caused me a lot of confusion in getting things working on corporate n

[2019-12-20 20:25] travi commented on #113
tags are pushed using git, not the api of the hosting provider. core does not know anything about the hosting providers, so couldn't use the appropriate api for each setup anyway.

i'm personally less familiar with the gitlab plugin, but the github plugin uses the api to associate release notes with the tag that was pushed.

you mention other git operations not working without the git plugin. what

[2019-12-20 20:35] amclin commented on #114
Workaround is specifying them on the command (and setting the prefix to an empty string)
`GITLAB_URL=$CI_API_V4_URL GITLAB_PREFIX="" semantic-release`

But it would be much nicer to have that automatically

[2019-12-21 00:42] #114 closed

[2019-12-21 00:48] pvdlg commented on #113
As explained by @travi:
- `semantic-release`core: push tags (and add Git notes in v16) to remote with `git` CLI, authenticating with https://github.com/semantic-release/semantic-release/blob/master/docs/usage/ci-configuration.md#push-access-to-the-remote-repository
- `@semantic-release/github`: Interact with GitHub API to create releases, comment on issues etc... authenticated with `GITHUB_TOKEN`/

[2019-12-21 00:48] #113 closed

[2020-01-03 22:49] amclin opened #121 "Gitlab environment variables not populating correctly for private instances"
#115 introduced the ability to automatically retrieve Gitlab to fix #114

But it doesn't appear to be working correctly. I removed GITLAB_PREFIX and GITLAB_URL so that they could be automatically determined from the Gitlab runner-provided environment variables CI_API_V4_URL

When I look at the error log, I can see that @semantic-release/gitlab reverted to using the **public** gitlab.com and not th

[2020-01-04 00:02] pvdlg commented on #121
What are the values of `GITLAB_CI`, `CI_API_V4_URL`,  `GL_URL`, `GITLAB_URL`, `GL_PREFIX`, `GITLAB_PREFIX`,  `CI_PROJECT_URL` and `CI_PROJECT_PATH` on you CI environmnet?

[2020-01-04 00:10] amclin commented on #121
[code]

The environment variables `GL_URL`, `GITLAB_URL`, `GL_PREFIX`, GITLAB_PREFIX` are all unset.

[2020-01-04 03:23] pvdlg commented on #121
This exact case is tested here: https://github.com/semantic-release/gitlab/blob/e3844298ba0aef30f3dfff53b44fcb4bc2ff8a03/test/resolve-config.test.js#L73

Are you sure those variables are set exactly that way on your CI? Did you printed their values to make sure?
Are you sure your are using the version 4.1.0 of this plugin? Did you make sure it's the version installed in your `node_modules` on the

[2020-01-06 05:24] amclin commented on #121
I am fairly confident in all of the above, but I will verify tomorrow when I have acesss and can run some tests.

[2020-01-07 16:13] amclin commented on #121
Yes. These variables are set by Gitlab CI itself, not something I control.

Yes, I ran `env` during the build to echo out all environment variables:
[code]

From `package.json`:
[code]

I've since configured the CI to guarantee a clean checkout and workspace. Though since the job runners are spun up from generic Node Docker images, it's going to be a clean checkout and `npm install` on each run.

[2020-01-07 16:21] pvdlg commented on #121
Are you using semantic-release version 15.14.0? With a lower version it wouldn't work.

[2020-01-07 17:34] amclin commented on #121
I run semantic-release with `npx semantic-release` and not a local devDependency, so it should always be the latest

[2020-01-07 17:37] amclin commented on #121
My full command to run semantic-release is:
`npx semantic-release "--repository-url=https://gitlab-ci-token:xxxxxxxxxxxxxxxxxxxx@gitlab.<redacted private domain>/UI-TOOLS/create-usb-nextjs-app.git"`

[2020-01-07 17:42] amclin commented on #121
I've verified that the latest version of `semantic-release` in our private registry mirror is 15.14.0, so I can be confident that 15.14.0 is what is being run by `npx semantic-release` on the CI environment. Though if there's a way I can explicitly verify this, I'm open to suggestions.

[2020-01-07 18:11] pvdlg commented on #121
The first line of log indicate the version.

[2020-01-07 20:09] amclin commented on #121
Ok, I can confirm that for some reason running `npx semantic-release` on my CI environment is loading v15.13.1 instead of the latest v15.14.0 (though this doesn't make a lot of sense since it's not globally in the Docker image).

I can successfully force v15.14 by using the command `npx --package semantic-release@^15.14.0 semantic-release` instead

@pvdlg thank you for your assistance in helping m

[2020-01-07 20:09] #121 closed

[2020-01-14 13:01] oupala commented on #114
It works well, thanks!

[2020-01-29 14:17] TSilviu opened #125 ""Validation failed: Description can't be blank""
Getting `Response code 400 (Bad Request)` when trying to publish release assets to GitLab.

This is the body of the request: `body: '{"tag_name":"v5.5.0","description":""}'` and this is the URL we are posting to: `'https://lab.arachnys.com/api/v4/projects/arachnys%2Farachnys-ui/repository/tags/v5.5.0/release'` .
It looks like the `description` field of the body is blank, which is what is causing t

[2020-01-29 15:57] pvdlg commented on #125
What we send in the `description` is what's produced by the generate changelog plugin. It seems you don't use any plugin to generate the changelog (the default is https://github.com/semantic-release/release-notes-generator).

That said, we should handle that case more gracefully.

[2020-01-29 16:16] #125 closed

[2020-02-07 06:35] greenkeeper[bot] opened #128 "An in-range update of got is breaking the build 🚨"
## The dependency [got](https://github.com/sindresorhus/got) was updated from `10.5.0` to `10.5.1`.

🚨 [View failing branch](https://github.com/semantic-release/gitlab/compare/master...semantic-release:greenkeeper%2Fgot-10.5.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

got is a direct dependency of this project, and

[2020-02-07 22:08] #128 closed

[2020-02-15 10:49] tommyalatalo opened #132 "Order of release assets is scrambled"
I just started using this plugin to create gitlab releases, but I see that the assets on the release page are in a scrambled order?

My plugin is set up like this:
[code]

The order of the assets on the release however end up something like this:
[code]

Is there a way to define the order that the assets land on the release page?
I would understand if the globbed assets are in random order, but wh

[2020-02-17 08:30] pvdlg commented on #132
The assets are uploaded and added to the release with multiple API calls executed in parallel. The final order is unpredictable and will depend on file size, network traffic, etc...

So there is no way to configure the order of the assets added to the release.

[2020-02-17 08:30] #132 closed

[2020-03-02 10:16] yyynnn opened #136 "Upcoming release config"
Add ability to pass upcoming release state via `releasedAt/upcoming` config option:

[code]

[2020-03-02 10:18] yyynnn commented on #136
Its king of strange that i cannot switch this in gitlab ui  to make pre/alpha/beta-release

[2020-03-02 15:39] pvdlg commented on #136
What would those options? Can you add details and context to your request?

[2020-03-04 11:46] yyynnn commented on #136
@pvdlg i need to make a pre/alpha/beta release to test things out (to see changelogs, version bumps ) before making an actual stable release

[2020-03-04 20:19] pvdlg commented on #136
You can use the `--dry-run` option locally to see in the console the next version and changelog.

[2020-03-08 20:22] linceaerian opened #137 "Support on "remote: You are not allowed to upload code.""
Hello Maintainers,

I'm failing to have the semantic-release for Gitlab to work correctly.
My pipeline "execute" correctly as long as you do not use debug...

![image](https://user-images.githubusercontent.com/1318470/76170491-aaf44780-6182-11ea-8ed5-430dfb98334d.png)

Except that it do nothing.... so looking at:
https://gitlab.com/gitlab-org/gitlab-eslint-config/-/jobs/130898644

I'm expecting it

[2020-03-08 21:35] ext commented on #137
I've just run into this myself, it was working fine 6 days ago with no configuration changes since then. Maybe something changed in gitlab?

[2020-03-08 21:48] jacklei commented on #137
I'm debuging the same problem at the moment and I have a hunch on what it is.

lib/verify.js has this
[code]
where repoId is the `namespace/project`, however gitlab api needs the `/` to be url encoded. [gitlab api doc](https://docs.gitlab.com/ee/api/README.html#namespaced-path-encoding)

Quick test on my instance of gitlab.
[code]

[code]

[2020-03-08 23:10] jacklei commented on #137
I am having this issue on my on-prem gitlab instance (12.8.1-ee) but not gitlab.com with the same code.

@linceaerian, I noticed that in your screenshot your `GITLAB_TOKEN` has protected enabled. From your error message, you are on the `dev` branch. Is the `dev` branch protected? If not, the `GITLAB_TOKEN` would not be set.

[2020-03-09 08:00] linceaerian commented on #137
@jacklei  Yes, it's protected like shown in the last screenshot. I've blocked due to this on another CI so I did not forget it :)

I've already tried "unprotected", "unmasked", change to use "GL_TOKEN", try to set up an intermediary "variable" in the CI.... but to no avail :P

On another infos, I've got the same thing than you in the curl on Gitlab.com

[code]

However it should not be impacting a

[2020-03-09 09:12] ext commented on #137
I get a similar message but not the same:

[code]

This is only visible when using `--debug` otherwise the pipeline succeeds without doing anything. I'm not sure how to fix this even temporary.

`GL_TOKEN` is set (and is protected and masked), it runs on `master` branch which is protected. Worked fine a week ago.

[2020-03-09 14:29] plup opened #139 "Verification stopped with node v13"
The exact same Gitlab CI config (apart from the node version) has different results:

In node 13 the process stops after auth verification:
[code]
I tried `--debug` but it didn't give me anything helpfull.

In node 11:
[code]

[2020-03-09 16:02] pvdlg commented on #139
Do you have a npm warning during `npm install` that indicate one of your dependency is not compatible with Node v13?
Do you have a `package-lock.json` or `yarn.lock`? If yes please delete them, and run `yarn/npm install` again and try again to run semantic-release.

[2020-03-09 16:02] EivanRazgriz commented on #139
Getting the same error on my Installation.
The setup with Node 13 definitely worked at least 4 days ago

[2020-03-09 16:07] pvdlg commented on #137
You have that in the debug logs because semantic-release tries a `push --dry-run` fist without modifying the repo URL. If it fails it adds `gitlab-ci-token:<GL_TOKEN>` to the URL.

The command `git push --dry-run --no-verify https://gitlab-ci-token:<GL_TOKEN>@gitlab.com/<repo-id>.git HEAD:<branch>` has to be allowed GitLab. It seems for some reasons GitLAb ignore your token settings and disallow t

[2020-03-09 18:03] plup commented on #139
I don't have lockfiles in the repository (which may lead to other issues some day). And I don't have any errors or warning at installation:
[code]

[2020-03-10 15:05] yyynnn opened #140 "Plugin silently fails in CI job, but not in local env"
With this log inside runner:

[code]
With this in local with --no-ci:

[code]

[2020-03-10 15:12] yyynnn commented on #136
i know
yeah this is just a problem of a gitlab's shitty ui

[2020-03-10 15:12] #136 closed

[2020-03-10 16:15] #140 closed

[2020-03-10 16:53] yyynnn commented on #139
With this log inside runner, with node:latest:

[code]
With this in local with --no-ci with node 12.14.1:

[code]

[2020-03-10 18:52] brunomrpx commented on #139
I have the same problem here, it's stuck in verifyConditions step. Also was working normally some days ago.

[2020-03-11 07:57] Kampfmoehre commented on #139
Is there any solution yet? All our internal packages stopped working a few days ago. We run those in a Docker container from a self made image that derives from latest node alpine image.

Here is an example CI log:
[code]

I reverted our image back to Node 13.8 and it's working again. On my machine I have Node 13.9.0 and it's working too with --no-ci. So it seems something changed in Node 13.10 th

[2020-03-11 21:31] amclin commented on #139
Seeing this as well. Silent non publishing with exact same symptoms in the logs. Confirmed that the CI runners are using Node `13.10.1`. Reproduced problem on local machine with Node `13.10.1`. Successfully ran semantic-release locally using Node `13.9.0`

The strange behavior is that the process is terminating with Exit Code `0` which means the CI runner treats it as a success, not a failure... s

[2020-03-11 21:37] amclin commented on #139
I'm noticing other people in this thread are also setting the `NODE_TLS_REJECT_UNAUTHORIZED` global.... which is interesting because Node 13.10.0 changelog mentions a change to `tls` handling:
https://github.com/nodejs/node/blob/master/doc/changelogs/CHANGELOG_V13.md#13.10.0

[2020-03-12 07:15] Kampfmoehre commented on #139
We do not set NODE_TLS_REJECT_UNAUTHORIZED since we have signed our GitLab and our NPM repository instance with Let's Encrypt. But we still got the error, so I believe that it does not matter for this case.
The only env variables we set are GITLAB_TOKEN and NPM_TOKEN (obviously). I also tried with the DEBUG var set to `semantic-release:*` but to no avail.

[2020-03-20 22:33] amclin commented on #139
I tested with Node `13.11.0` and the issue still persists. It would be helpful if someone from the `semantic-release` team can weigh in on how to get deeper logging details since this is a silent failure that doesn't manifest as an error.

[2020-03-25 17:57] alexives opened #143 "Commit files with updated version number with tag"
In many cases, a hard coded version number is included in the code that needs to be updated when a new version is released. It would be nice if we could optionally create a commit with those files in it and tag that, instead of tagging the current commit.

Gitlab's api supports this - https://docs.gitlab.com/ee/api/commits.html

[2020-03-25 18:03] alexives commented on #143
Actually, I'm sorry this doesn't need to happen I just realized there are better ways.

[2020-03-25 18:03] #143 closed

[2020-03-27 06:09] pvdlg commented on #139
We use https://github.com/sindresorhus/got to make http calls to GitLab API. It seems that on Node 13.10 and up `got` fails and cause the whole Node process running semantic-release to exit without error.

I don't know if the problem is in `got` or in an one of it's dependency or in Node.

For reference: https://github.com/sindresorhus/got/commit/62b338848a20390d9f6fba7fee9ee4413a504a79

[2020-04-09 16:24] lucbas opened #146 "Versioning not properly functioning with merge requests"
Hi all

Thanks for this plugin!

I have set it up on one of our repositories and with the following setup:

- production branch (default)
- beta (prerelease)
- alpha (prerelease)

semantic-release config in package.json:
[code]

I may not correctly understand it, but the desired workflow is:

- developers create a `feat/xyz` branch from `production`
- afterwards, they merge the feature branch into

[2020-04-10 21:36] renedacosta opened #147 "Cannot upload assets"
Hi all,

I'm having an issue with uploading assets along with my release.
It seems to find the files fine but is unable to finalize the publish step, giving no errors or indication why it is failing.
The gitlab-CI pipeline indicates that it has run fine but no release is created.
The last debug log that can be seen from the gitlab-runner is:
[code]

Here is my plugin config:
[code]

When the asset

[2020-04-14 12:21] lucbas commented on #146
Think this issues belongs to the official semantic release repo: https://github.com/semantic-release/semantic-release/issues/1523

[2020-04-14 12:21] #146 closed

[2020-04-24 16:37] Dacturne commented on #147
Seems the same for me as well.

[2020-04-25 06:02] stefan-lacatus commented on #147
I'm having the same issue. If I run `semantic-release` locally with the `--no-ci` flag, the publish release with assets works, but it doesn't when it's run in Gitlab CI/CD

[2020-04-25 19:10] stefan-lacatus commented on #147
Seems to be related to https://github.com/semantic-release/gitlab/issues/139. Our GitLab pipeline was running with `node:latest`.
After moving to `node:13.8.0` publishing releases works again.

[2020-04-28 16:18] isuftin opened #150 "Any way to use SSH key instead of GL_TOKEN/GITLAB_TOKEN?"
We do not use personal access tokens across projects for write access. We do use SSH keys that we can set up per-project in GitLab.

Based on this comment: https://github.com/semantic-release/gitlab/issues/64#issuecomment-460440848 - I was assuming that we could use an SSH key to drive this plugin but it doesn't seem like that's the case?

Is there any combination of variables I can set in GitLab

[2020-05-19 11:34] freykeld commented on #139
Fixed this issue by updating from `node:13.10.1` to `node:13.11.0`.

![image](https://user-images.githubusercontent.com/1678391/82321628-6df3cf00-99d5-11ea-9658-b2fb4976c657.png)
(it might be related to gitlab extension)

[2020-06-03 18:39] stenaloom opened #151 "Authentication fails"
Trying to implement semantic-release for Gitlab. I have a non-traditional setup with the original repository in Github that is mirrored to Gitlab. CI job runs on Gitlab.
The Gitlab token is defined in variables and I tested from command line that it works.
I think the issue is in the url "https://[secure]@gitlab.com". There should be a username.

Possibly the script tries to connect to Gitlab but

[2020-06-18 12:26] mikebryant opened #152 "Support different default branch names"
If a repository's default branch is not `master` - it would be nice if semantic-release was able to just pick this up without needing configuration.

Gitlab provides this info as the environment variable `CI_DEFAULT_BRANCH`

[2020-06-23 09:15] kurpipio opened #153 "verification failed when user added via group sharing"
currently verification relies on `api/v4/projects/${PROJECT_ID}` and fails when project is shared with group and user is member of that group, because in such situation API says project_level and group_level are null. Thus we end up in the situation when user has all required permissions, but verification fails.

It's already reported to GitLab https://gitlab.com/gitlab-org/gitlab/-/issues/223832,

[2020-06-26 14:55] #150 closed

[2020-06-26 14:55] isuftin commented on #150
It doesn't seem like this is a thing

[2020-06-26 14:58] isuftin commented on #147
I've tested this using NodeJS 14.3.0 in Alpine. Works as expected.

Here's my Dockerfile that creates a working Semantic Release image including the GitLab plugin if you also want to test this on your end:

[code]

[2020-06-26 15:46] vegaed opened #154 "Support Links"
Would like the ability to add links to the release. https://docs.gitlab.com/ee/user/project/releases/#links. Want to link to the produced docker image in the container registry.

[2020-07-06 14:35] BilelK91 opened #155 "Versionning a NodeJS project using GitLab CI not working in verify conditions section"
## Environment

- **semantic-release** version: ^15.0.0
- CI environment: GitLab CI
- Plugins used:

- **semantic-release** configuration:
.releaserc.yml
[code]
.gitlab-ci.yml

[code]
- CI logs:

[code]

[2020-07-09 12:29] dosuken123 opened #156 "Support `CI_JOB_TOKEN` auth"
GitLab CI injects `CI_JOB_TOKEN` to allow a pipeline job to access a project resource through public v4 API. Not all of APIs support job token auth, however, [release creation API](https://docs.gitlab.com/ee/api/releases/#create-a-release) is already supported. So in theory, executing `GITLAB_TOKEN=$CI_JOB_TOKEN` should be suffice to run semantic-release.

However, as I tested https://gitlab.com/d

[2020-07-31 01:03] joelnet opened #157 "HTTPError: Response code 500 (Internal Server Error)"
I'm getting an error `HTTPError: Response code 500 (Internal Server Error)` and I'm not sure where to start looking. Can someone point me in the right direction?

Gitlab version:  12.7.5-ee
semantic-release: 17.1.1
@semantic-release/gitlab: 6.0.4

environment variables set:
- `GITLAB_TOKEN`
- `GITLAB_URL`

package.json:

[code]

related logs:
[code]

Thanks!

[2020-08-03 15:21] yyynnn commented on #155
this could be bypassed with NODE_TLS_REJECT_UNAUTHORIZED = 0
env variable, but..

[2020-08-06 22:05] digitaltopo opened #158 "An error occurred while running semantic-release: HTTPError: Response code 400 (Bad Request)"
Seeing a `HTTPError: Response code 400 (Bad Request)` error in the GitLab pipeline job:

[code]

I belive error is triggered from `publish.js` file in `semantic-release/gitlab`:
https://github.com/semantic-release/gitlab/blob/8477d146c47d9c515ae12bb98949fc535a84435d/lib/publish.js

Project's `.releaserc` looks like this:

[code]

In GitLab, I've set: `GL_TOKEN`, `GL_URL`, and `GL_PREFIX `

Any tho

[2020-08-08 05:21] damusix commented on #151
Been going at this for hours I'm getting the same thing

[2020-08-08 05:27] stenaloom commented on #151
Try adding the username and token to your repository url in package.json

[2020-08-08 05:46] damusix commented on #151
nothing :/

[2020-08-10 11:21] jeremypetit-grtgaz commented on #154
I'm also interested in that feature for docker images and other packages (maven,npm...)

[2020-08-11 20:08] joelnet commented on #157
After upgrading Gitlab to `13.2.3-ee` I am now seeing a 400. It looks like the same error in issue #158

[2020-08-13 14:16] jeff-cook commented on #154
I think what you are looking for is assets in the configuration. https://github.com/semantic-release/gitlab#usage

[2020-08-13 14:19] jeff-cook commented on #150
I don't see a way to use an SSH key to access the GitLab API. This would be required to create the release. If all you need is the tag created, you can do that with an SSH key and don't need the `semantic-release/gitlab` plugin.

[2020-08-13 14:22] jeff-cook commented on #143
@alexives what did you come up with? I'm kind of looking for the same thing.

[2020-08-13 14:24] vegaed commented on #154
@jeff-cook I really dont want to have to export my docker images to have it included in the release. Also docker images can be quite large. Hence why I just want a link, which gitlab supports.

[2020-08-13 14:25] jeff-cook commented on #111
https://gitlab.com/alelec/gitlab-release does this, but I think they just take the list of artifacts and create a zip file on the fly. You could do this before you run semantic-release or take a look at https://github.com/semantic-release/exec as a possible way to include it in `semantic-release`.

[2020-08-13 14:40] jeff-cook opened #159 "Create GitLab release only on tags pipeline"
I'm looking for a way to create the GitLab release (links to assets and release notes text) only when the pipeline runs on the git tag.

My use case

- The builds in the pipeline use `$CI_BUILD_TAG` to build the artifacts
- The artifacts are built with the version known and used in the build
- These are the artifacts that are linked in the GitLab release

The GitLab release API doesn't support upd

[2020-08-13 17:44] alexives commented on #143
I honestly have no recollection of what I did.... and I'm not sure what project I was using this on.

[2020-08-13 19:12] Alphy11 opened #160 "Support SSH connection to git"
Hi,
It seems this plugin only understands how to auth with the github branch with one url.  But if http is disabled for git, we will need two urls to be passed in, one for the api, and another for actually pushing to git.  I am happy to submit a PR for this if it's amenable, and I am not missing something.

[2020-08-14 15:24] jeff-cook commented on #154
I see. In reality all the assets in the release are just links.

Would need to add an `assets:url` option and not upload the file.

Possible work around: You could add to the description for the release. Not sure if that would be in the `gitlab` plugin or a different plugin.

[2020-08-14 17:02] Alphy11 commented on #160
I actually completely misunderstood what this package was supposed to do.  I thought this was to commit changes from the release to gitlab.  I am not sure if I am the only one to make this mistake, but if not I would reocmmend adding some bold text in the description about what this is NOT for.

[2020-08-14 17:02] #160 closed

[2020-08-31 19:59] MathieuPuech opened #161 "Supporting assets release types"
It has been introduced in GitLab 13.1, we can now specify the asset type of a link.

See https://docs.gitlab.com/ee/user/project/releases/#links

[2020-09-01 08:34] mmuenker commented on #156
For me, the `CI_JOB_TOKEN` works fine.

**GitLab**: 13.4.0-pre
**GitLab Runner**: 13.3.1 (shared runner)

**.gitlab-ci.yml**
[code]

[2020-09-06 18:03] ciddsultan commented on #151
I am having the same problem on Windows, shell runner

[2020-09-06 21:58] ciddsultan commented on #151
you might want to check if the enviroment variable: `GITLAB_TOKEN` is set correctly

[2020-09-07 19:17] Oloremo opened #163 "Can't make it work with Project Access Tokens or Deploy Tokens"
Seems to be working fine with Personal User Tokens but it's suboptimal on paid licenses.

It should work just fine with Project Access Tokens: https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html
Or with Project Deploy Tokens: https://docs.gitlab.com/ee/user/project/deploy_tokens/

But I can't make it work:
[code]

Any guidance?

[2020-09-10 10:57] paulfelton commented on #158
I'm getting the same error.  I can't see much debug information to see what's happening.  I note that the release does actually happen, although the assets look to be a very small subset of what I'd expect, so maybe it's related to that?

[2020-09-11 15:42] Park0 commented on #163
I have the same issue. It worked for me on one repo but it does not work on another. But as i am on a free version i created a (bot) user for the time being.
But i could not get to the root cause of this issue.

[2020-09-17 21:17] mattkasa commented on #156
@mmuenker I'm not able to reproduce a working release using your example with `$CI_JOB_TOKEN`, I get:

[code]

Can you think of anything different in your set up that would cause it to work?

[2020-09-23 02:16] virtuman commented on #156
is it possible that it was meant to work in gitlab 13.4.* and not 13.3 ?

[2020-10-15 19:24] MathieuPuech commented on #158
I tried to get the error with a try catch with `got` but I didn't get what was the error. To fix it I used [ky-universal](https://www.npmjs.com/package/ky-universal) instead. I can create a PR for this if you want.

[2020-10-19 17:11] hlas opened #165 "Can't use TOKEN with a project with group permissions"
Get this error:

[code]

This is what I get with a direct call to the gitlab API:

[code]

So, this code doesn't verify correctly the permissions:
https://github.com/semantic-release/gitlab/blob/cfa2f177d866addb4618a6e0cd3aaeed1f70bf7e/lib/verify.js#L51

[2020-11-05 05:48] leoshusar opened #167 "Allow custom names for assets"
Hello, I've seen that `semantic-release/github` has more options for assets, it has `name` property and both properties `name` and `label` are allowed to insert next version by for example `${nextRelease.gitTag}`.

Is something like this planned for this plugin too?

It would be handy for me because I could've keep my binary archive named like `build.tar.gz` and then rename it to `MyApp-v1.0.0.tar

[2020-11-08 14:28] yyellowsun commented on #158
I use the github actions and meet the same problem.
But I modify the GITHUB_TOKEN,and solve the problem.
Maybe useful to you.

[2020-11-10 14:51] mokhos commented on #155
Hi there.
I have the same problem. What is the solution? What is the cause anyway?
Is there any other environment variable than GITLAB_TOKEN needed?

[2020-11-13 16:28] EdwinSmulders commented on #156
I've tried this but I can't find any circumstances that made this work like @mmuenker says is possible. However, I also cannot find why it doesn't work - it seems like it fails before the gitlab plugin even does anything.

[2020-11-16 23:14] gr2m opened #168 "replace travis with actions"
Part of https://github.com/semantic-release/semantic-release/issues/1692

### Todos

- [x] delete `.travis.yml`
- [x] create `.github/workflows/{test,release}.yml` (copy from https://github.com/semantic-release/npm/tree/master/.github/workflows)
- [x] remove `package-lock.json` from `.gitignore`
- [x] delete `.npmrc` and `.yarnrc`
- [x] README
	- [x] remove travis/codecov badges
	- [x] add actions

[2020-11-16 23:53] #168 closed

[2020-11-16 23:55] renovate[bot] opened #172 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Awaiting Schedule

These updates are awaiting their schedule. Click on a checkbox to get an update now.

 - [ ] chore(deps): lock file maintenance

## Open

These updates have all been created already. Click a checkbox below to f

[2020-11-20 01:21] walkafwalka opened #174 "Use GitLab generic packages repository for assets"
The [GitLab generic packages repository](https://docs.gitlab.com/ee/user/packages/generic_packages/index.html) is more suited for storing assets related to releases.

And unlike the current project uploads API, the [documentation explicitly states that the CI_JOB_TOKEN has access to the Packages API](https://docs.gitlab.com/ee/api/README.html#gitlab-ci-job-token).

[2020-11-24 16:24] nfriend commented on #158
Just ran into this as well! Did a little investigation and found the root cause. This happens when `assets.path` matches more than one file, for example:

[code]

GitLab's release links must have both a unique name and URL (within a given release). In the example above, `semantic-release/gitlab` attempts to upload all files that match `build/**/*` with the same name ("Compiled files"). As a result

[2020-11-24 17:51] nfriend commented on #158
Actually, this module _does_ already account for the validation issue I mentioned above - it just wasn't working quite right.

I've submitted https://github.com/semantic-release/gitlab/pull/179 which fixes this 👍 Now, if a `path` glob pattern matches more than one file, the file name will be used as the label (and the `label` property will be ignored). This makes the possibility of a label collisi

[2020-11-24 21:24] nfriend commented on #158
Found another even simpler workaround: remove the `label` property for any patterns that match more than one file. In this case, this module will fall back to creating each item with its label set to the file's name.

[2020-11-25 00:15] secustor commented on #156
I have looked into this. At the moment I don't see how this could work at the moment, at least for `/api/v4/`.
Option to deactivate the testing of git pushes as CI tokens have not the permission to do these. See [here](https://docs.gitlab.com/ee/api/README.html#gitlab-ci-job-token).
The issue would need to be addressed in the sematic-release core. This is the line which results in the error. https

[2020-12-01 04:07] #158 closed

[2020-12-03 13:49] nfriend commented on #157
@joelnet https://github.com/semantic-release/gitlab/issues/158 has been fixed by https://github.com/semantic-release/gitlab/pull/179, so if this is indeed the same root cause, this issue should now be fixed 👍

I'll close for now, but please reopen if you continue to see this behavior!

[2020-12-03 13:52] nfriend commented on #157
@joelnet Forgot I don't have access to close issues in this repo 🤦 Would you mind closing if you agree? 🙏

[2020-12-03 13:57] nfriend commented on #174
@walkafwalka Thanks for this! I agree that the Generic Package Registry is a better fit. In fact, this is the direction GitLab itself is taking (see https://gitlab.com/gitlab-org/gitlab/-/issues/255271#note_453907441 and https://gitlab.com/gitlab-org/release-cli/-/issues/68).

I would suggest we wait until GitLab has landed on an specific approach and then updating this plugin to mirror its behavi

[2020-12-03 15:23] nfriend commented on #167
@leoshusar I think this would be a great feature to have 👍 It would be nice to maintain parity with `@semantic-release/github` in this case.

Would you be open to putting together a PR for this?

[2020-12-03 20:59] nfriend commented on #165
@hlas Thanks for this! I was able to reproduce this as well in a test group/project.

My gut feeling is that this is a bug on GitLab's side - I expected this permission information to be available in some way through the Project API. I've opened https://gitlab.com/gitlab-org/gitlab/-/issues/290880 to investigate/discuss.

I'm not sure about the details of your setup, but perhaps using [a project a

[2020-12-03 21:17] nfriend commented on #163
@Oloremo @Park0 I recently put together a [tutorial](https://docs.gitlab.com/ee/ci/examples/semantic-release.html) and [example project](https://gitlab.com/gitlab-examples/semantic-release-npm) that uses a project access token (with `api` scope) for authentication. If you're still experiencing this, would you mind taking a quick look at the demo project and see if there's any difference that might

[2020-12-03 21:21] nfriend commented on #151
@ciddsultan @damusix Were you able to find a root cause of this issue?

Unfortunately I don't have any specific recommendations for you, but in case it helps, [here's a working example](https://gitlab.com/gitlab-examples/semantic-release-npm) (and [an accompanying tutorial](https://gitlab.com/gitlab-examples/semantic-release-npm)) of a GitLab project that uses a [project access token](https://docs

[2020-12-03 21:24] nfriend commented on #161
@MathieuPuech Agreed, this would be a great feature to have! (And I think it would be relatively easy to implement.)

Would you be interested in opening up a PR for this?

[2020-12-03 21:34] nfriend commented on #159
@jeff-cook Have you considered only running the job that executes `semantic-release` on tag pipelines? Something like this:

[code]

You could also restrict this further by only running the job on tags that match a certain pattern:

[code]

There is an "update release asset links" API: https://docs.gitlab.com/ee/api/releases/links.html#update-a-link. Does this do what you need?

[2020-12-03 22:04] nfriend commented on #153
@kurpipio Thanks for this, this looks like the same as https://github.com/semantic-release/gitlab/issues/165. (Well, technically _it's_ the same as this one, since this one was opened first 🙂).

See [my comment on that issue](https://github.com/semantic-release/gitlab/issues/165#issuecomment-738303604) for a possible workaround using a [project access token](https://docs.gitlab.com/ee/user/project

[2020-12-07 15:31] nfriend opened #183 "Migrate from deprecated Tags API endpoint to Release API endpoint"
In GitLab 14.0, the ability to manage release data (i.e. release notes) through the `/projects/<project id>/repository/tags/<tag name>/release` endpoint will be removed: https://gitlab.com/gitlab-org/gitlab/-/issues/290311

This module currently uses this endpoint to create a release in `publish.js`:

https://github.com/semantic-release/gitlab/blob/81cd6a88972e2e59ca6cf5d89ecea9d4529cdc9e/lib/publ

[2020-12-08 16:36] #183 closed

[2020-12-11 08:12] aldrashan opened #186 "git ls-remote --heads https://gitlab-ci-token:... request fails"
I've followed the tutorial for Gitlab over at https://docs.gitlab.com/ee/ci/examples/semantic-release.html.
When running our pipeline, we're receiving an authentication error.
I've defined a GITLAB_TOKEN variable with the value set to my Project Access Token value.
I've defined a NPM_TOKEN variable with the value set to my Personal Access Token value.
I've defined a GITLAB_URL variable with the va

[2020-12-11 13:53] nfriend commented on #186
@aldrashan Thanks for error log!

What you have _should_ be working, so I'm not 100% sure what the correct fix is 🤔 But here's a few things to try:

1. Give your Project Access Token both the `api` _and_ `write_repository` scope
1. If ☝️ doesn't work, swap out the Project Access Token for a Personal Access Token

Let me know if one of these works for you - we may need to update the tutorial you li

[2020-12-11 15:04] thesmiley1 commented on #84
I agree this makes sense.

Currently, the alternative is to create custom CI variables, which is repetitive and duplicative (being necessary for every project, and duplicating data that is already made available by the platform with a different variable name), or to pass a string programatically, which is brittle.

`semantic-release` users would want to override these defaults with familiar `*_URL

[2020-12-14 12:33] aldrashan commented on #186
We've updated out Gitlab to version 13.6.3, but that did not fix anything.

1.  This did nothing. Same error logs.
2. Same as 1, did not change anything.

I do have to mention that we have our own CA. Received certificates from outgoing requests get swapped out for certificates which are signed by our CA. Not sure if we're getting any errors because of self-signed certificates. I've installed our

[2020-12-14 14:41] nfriend commented on #186
@aldrashan Thanks for giving those a try.

When you run this locally, are the environment variables that are available in CI also available locally? To better simulate the CI environment, you may need to set the relevant variables locally, e.g:

[code]

[2020-12-15 06:41] aldrashan commented on #186
Setting those parameters locally helps with the infinite credential prompts, but still throws the error.

[6:37:11 AM] [semantic-release] › ℹ  Running semantic-release version 17.3.0
  semantic-release:config load config from: /vanguard/.releaserc.json +0ms
  semantic-release:config options values: {
  semantic-release:config   branches: [ 'master' ],
  semantic-release:config   repositoryUrl: 'ht

[2020-12-16 16:16] MRigal commented on #156
I can confirm this has no chance to work as @secustor said. The error message is
[code]

I don't think git push should be required here and being able to use the CI_JOB_TOKEN would ease a lot the usage of semantic-release!

[2020-12-16 16:23] MRigal opened #191 "EMISSINGREPO The repository group/project doesn't exist due to pagination"
Hi everyone,
I have the issue that a token belonging to a user which has access to more than 100 projects. Thus, when calling the api/v4/projects with the credentials I am giving to semantic-release, I don't get the project I am looking for.

I need to add `?per_page=200` to be able to get the project I am looking for.

Update: sorry, I just saw this is limited to 20 by default and maximum 100!!!

[2020-12-16 17:30] #191 closed

[2020-12-16 17:31] MRigal commented on #191
My bad for mixing up two problems, the root of the problem is the outlined one here https://github.com/semantic-release/gitlab/issues/63#issuecomment-527080331 but I still think it would be easier to allow `repoId` to be set as an option directly

[2020-12-17 02:27] dosuken123 commented on #156
It seems failing at [`verifyAuth`](https://github.com/semantic-release/semantic-release/blob/master/index.js#L77) in [semantic-release](https://github.com/semantic-release/semantic-release) (not `semantic-release-gitlab` module).

It's kinda make sense to auth if the token has a write permission to the repository, however, the [release creation API](https://docs.gitlab.com/ee/api/releases/#create-

[2020-12-17 02:30] dosuken123 commented on #156
Alternatively,  maybe we should use [Deploy Tokens](https://docs.gitlab.com/ee/user/project/deploy_tokens/) instead. This is more appropriate than Personal Access Token. However, there are no options to give write repository permission in the deploy token ATM, see https://gitlab.com/gitlab-org/gitlab/-/issues/23067.

[2020-12-17 09:19] MRigal commented on #156
Yes, the deploy and ci tokens are pretty limited (and for good reasons by default) The issue you reference have moved to this epic now: https://gitlab.com/groups/gitlab-org/-/epics/3559

Would you like to create a feature request on `semantic-release` to be able to have a `verifyAuth(strict=false)` or similar since indeed gitlab does not need write permissions to create the new tag?

[2020-12-17 17:31] tacnoman opened #192 "Error in request to create release"
Hello everyone

I'm receiving an error when I run the semantic release in last step. The code can create the tag, but after this, there is a request to `/release` that I'm receiving a 400 error code

[code]

I start to investigate the problem in code and I put a debug with error message in API:

[code]

Is required a field called `name` in json data send with GOT.

https://github.com/semantic-rele

[2020-12-18 17:32] nfriend commented on #192
Thanks for this detailed report @tacnoman!

It's interesting, because the `name` field is optional in GitLab's Release API: https://docs.gitlab.com/ee/api/releases/#create-a-release 🤔

Is it possible that one of the _asset's_ names is coming through as `null`/`undefined`? The `name` property _is_ required on each asset link object.

In the code you linked to, I see the asset name is being populate

[2020-12-18 17:43] nfriend commented on #192
@tacnoman I put together a quick [branch](https://github.com/nfriend/gitlab/tree/debugging-issues-192) that logs the JSON being sent to the GitLab API. ([Here's the commit.](https://github.com/nfriend/gitlab/commit/00eae24417cbb140cd25058ee26305fe85dac7bd))

If you replace your this line in your `package.json`:

"@semantic-release/gitlab": "^6.0.8"

with this:

`"@semantic-release/gitlab": "nfrien

[2020-12-21 02:21] ginozhan commented on #192
I got the same promble. name is missing.

[2021-01-05 12:09] daloulou opened #199 "Uploading `assets` only on master branch"
Hello Everyone,

I'm using `semantic-release` through Gitlab CI on two branch `beta` and `master`  and I would like to know if there is a way to only upload assets on `master` branch and not in `beta` branch. Indeed, I'm trying to add Apk on my release, and adding this both in beta and master release will consume too much data.

Thanks,

Dan

[2021-01-14 16:37] nfriend commented on #199
@daloulou Haven't tried this myself, but here's one idea:

1. Convert your semantic-release configuration file to a `release.config.js` (if it's not already a `*.js` file already)
2. In your `release.config.js`, use the [`CI_COMMIT_BRANCH` predefined environment variable](https://docs.gitlab.com/ee/ci/variables/predefined_variables.html) to conditionally add or remove the `assets` key in your conf

[2021-01-21 13:02] renovate[bot] opened #208 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>semantic-release/.github)

[2021-01-25 08:26] virgilwashere commented on #199
or `CI_DEFAULT_BRANCH`?

... because `main` is the new `master` :grinning:

[2021-01-25 09:07] beselig opened #212 "Cannot read property 'statusCode' of undefined"
## Current behavior

During verification process, when facing SSL problems, the following Error occurs:
[code]

## Expected behavior

The Error handling in `line 62` of [verify.js](https://github.com/semantic-release/gitlab/blob/master/lib/verify.js) is broken. It expects `error.response` to be always defined, which is not the case.

The catch block should not cause its own error, making the origi

[2021-01-26 09:21] gth7754125 opened #213 "[Question] Can this plugin be used for Java Project ?"
I want to write a `gitlab-ci.yml` with Semantic-Release.
Can it use to java or other language project ?

[2021-01-27 19:11] nfriend commented on #156
[This thread](https://github.com/semantic-release/semantic-release/issues/1729) helped me better understand why the `CI_JOB_TOKEN` fails the `verifyAuth` step, even though the token _does_ give permission to access [GitLab's Tags API](https://docs.gitlab.com/ee/api/tags.html#create-a-new-tag).

**tl;dr:** `semantic-release` creates tags directly through Git, not through the GitLab API, so the toke

[2021-01-27 19:16] nfriend commented on #199
@virgilwashere Good point! That's definitely the better option ☝️

[2021-01-27 19:19] nfriend commented on #213
@gth7754125 I don't see why not!

`semantic-release` runs in Node, but it's pretty agnostic about the actual code being versioned/released.

You'll just have to make sure the job that runs `semantic-release` uses a Node image, for example:

[code]

[2021-01-27 19:32] nfriend commented on #186
@aldrashan Interesting, looks like it's failing on this line:

https://github.com/semantic-release/gitlab/blob/e52f7397cdbb7ada64f079e06c4744a5b9e4bf99/lib/verify.js#L62

which is already inside a `catch` statement 🤔

This makes me think something unexpected is going on with the network request. This seems like a likely candidate:

Either way, this code shouldn't assume that `error.response` is al

[2021-01-27 19:37] nfriend commented on #186
Also, this looks like the same root issue as https://github.com/semantic-release/gitlab/issues/212, which mentions:

So an SSL issue seems like a likely culprit here as well.

[2021-01-27 19:44] nfriend commented on #186
Opened https://github.com/semantic-release/gitlab/pull/214.

[2021-01-27 19:45] nfriend commented on #212
Thanks for this @beselig! I opened https://github.com/semantic-release/gitlab/pull/214 with your solution:

[2021-01-27 20:28] nfriend commented on #186
@aldrashan #214 has been merged, so if you upgrade `@semantic-release/gitlab` to version `6.0.9` or later, you might get a better error message 🤞

If this ends up being a problem specific to your setup, would you mind closing this issue? 🙇

[2021-01-27 20:29] nfriend commented on #212
@beselig #214 has been merged - would you mind upgrading `@semantic-release/gitlab` to version `6.0.9` or later and see if this solves the issue? 🙏

[2021-01-27 21:22] aldrashan commented on #186
I'll update it first thing tomorrow and try it out. Will report back.

[2021-01-28 00:41] gth7754125 commented on #213
Sorry for make confused. It seems this plugin works directly to the git release changelog.
Some type of project, like JAVA project, which `source code's versions` is maintained by their `project management tool` like` Maven` or `Gradle`. It seems i need some other plugin or script to bind these two version together.
Thanks for helping.

[2021-01-28 00:41] #213 closed

[2021-01-28 09:08] beselig commented on #212
@nfriend Thanks for the fast fix!

We just tested the new version and it works as expected.

I'm closing the issue, as it is solved with #214

[2021-01-28 09:08] #212 closed

[2021-01-28 14:52] rattkin opened #215 "version number in package.json is not updated"
I have set up semantic-version in gitlab CI and I get git tags and gitlab releases for every commit in master branch.

I have this in package.json
[code]

and this in .gitlab-ci.yml
[code]
What do I need to add to get the version number changed in package.json?

[2021-01-28 17:26] travi commented on #215
if you truly need the version number updates in version control, you need to configure https://github.com/semantic-release/git. however, it is worth understanding that storing that in version control is not necessary for semantic-release to properly manage the versions that get published.

[2021-01-28 17:33] rattkin commented on #215
Ok thank you.
How else will the app know it's version? Is node or angular app built in docker container via gitlab co
I have only seen guides for releasing npm modules, which doesn't apply to our case.

[2021-01-28 17:46] travi commented on #215
i dont know details of your context or why an app would need a version, but semantic-release uses the git tags to understand the previous version and the commit messages to determine the bump from that previous version. it sets the version as part of the publish process, which is the earliest that it is truly required for npm packages and many other ecosystems.

the git plugin is available if you

[2021-01-29 09:31] rattkin commented on #215
Thanks!

[2021-01-29 09:31] #215 closed

[2021-02-01 06:43] aldrashan commented on #186
Finally got docker working again after it gave up the ghost...
Seems to be an issue with certificates, indeed.

[code]

Will pass it along to our network/system admin.

[2021-02-02 18:11] nfriend commented on #186
@aldrashan Nice, at least that error message is much more informative 👍

[2021-02-09 13:07] hahnartefakt opened #221 "Cannot read property "statusCode" of undefined"
Hello everyone,

i tried to install semantic release with the gitlab pluging but everytime i try to run my container it fails at the "verifyConditions" stage. I already added the GITLAB_TOKEN (Gitlab environment variable), HTTP_PROXY (Gitlab EV), the package.json as well as a stage for my CI/CD Pipeline. I just found one issue where no answer was given. I think at the end it has something to do wi

[2021-02-09 19:30] travi commented on #221
are you certain that you have the most recent version of the gitlab plugin? there was [a fix](https://github.com/semantic-release/gitlab/pull/214) released in v6.0.9 that would improve reporting of the actual error instead of getting stuck on an error like the one you report. if you haven't upgraded that plugin, please try that and see if it at least provides you with a more helpful error.

[2021-02-10 08:30] hahnartefakt commented on #221
Thanks for the fast answer!

I changed the version of gitlab to 6.0.9 and got the following output.

[code]
I remember that I already had this error and found no solution to this problem.

[2021-02-10 14:47] nfriend commented on #221
@hahnartefakt Interesting, this makes me think that when the plugin sends a request to GitLab's REST API, it's getting back XML instead of JSON like it expects.

I see that the URL to your GitLab instance is `https://[company_workbench_url]/gitlab/api/v4`. I'm not sure if this is the literal address it's using, or if `[company_workbench_url]` is being substituted before the request is made 🤔. Eith

[2021-02-10 16:56] hahnartefakt commented on #221
I just substituted the original URL of my company, just for this post. It uses the correct URL to the GitLab instance. The correct URL which is parsed via the environment variables is something like:
`https://something.something.de/gitlab/api/v4`
Maybe it has something to do with the way our GitLab works. It is integrated in a "workbench" where many of our services are placed at. Because of compli

[2021-02-10 18:40] nfriend commented on #221
@hahnartefakt Cool, thanks for confirming.

One thing you could try is manually submitting a GET request (e.g. with `curl`) to `https://something.something.de/gitlab/api/v4/projects/<repoID>` with the `PRIVATE-TOKEN: <your token here>` header. This is what `@semantic-release/gitlab` is doing [behind the scenes](https://github.com/semantic-release/gitlab/blob/c1e237ec8afb0e49072ffd6b9c8e9e29f4979ca

[2021-02-11 09:06] hahnartefakt commented on #221
Okay I did the request.

[code]

It seems like I get redirected to our Workbench's" login page `Location: https://workbench.something.de/deeplinklogin`. Is that correct? Maybe that is what happens when I use the `@semantic-release/gitlab` plugin. As I can see there is no exception for the status code 302 in the `verify.js`.

[2021-02-11 16:55] nfriend commented on #221
@hahnartefakt Ah, that looks like the root cause to me! The plugin won't know how to make an API request through the extra layer of authentication imposed by your network.

Unfortunately, I'm not sure the best way to go about solving this 🤔. Perhaps your network admins might have some ideas on how to allow these requests to go through? Sorry I can't be of more help!

[2021-02-11 18:04] hahnartefakt commented on #221
Thought so :/ But I appreciate the help. I already contacted the network admins because :)

Thank you for your help until this point ;)

[2021-02-11 18:05] #221 closed

[2021-03-06 23:00] lukasmrtvy commented on #154
I would like to see a full API support https://docs.gitlab.com/ee/api/releases/#create-a-release

My use case ( example pipeline ):
- create jar
- upload jar to external maven repository ( not to Gitlab )
- create docker image
- upload image to external docker registry ( not to Gitlab )
- create release ( create links with proper links:type atribute )

So whole POST looks like:
[code]

Also someth

[2021-03-17 10:47] existe-deja opened #228 "How to deal with ci jobs artifacts?"
Hi,

Thanks for your work on this huge project.

I have a question that I couldn't answer even after reading, docs, faq, recipes, and issues.

How can I add a job artifact into the [@semantic-release/gitlab](https://github.com/semantic-release/gitlab) and the [@semantic-release/git ](https://github.com/semantic-release/git)assets?

Artifacts exemple:
- build from a previous job
- test coverage

A

[2021-04-20 20:46] jeff-cook commented on #159
My current workflow is to run `semantic-release` on the default branch, to create a git tag for a release.
Then, run a different tool to create the GitLab release with artifacts created in the tag's pipeline.

Is there a way to use `semantic-release` to perform this within the same project/config file?
The job would need to be run twice.
Once on default and once on the tag.

[2021-04-21 13:07] dsandor commented on #151
Hi, I know this issue is older but I wanted to drop by and let you know what solved my issue.

Reference: https://docs.gitlab.com/ee/integration/kerberos.html#http-basic-access-denied-when-cloning

Before I call `semantic-release` I set the git option `http.emptyPath` to true. This allows semantic-release to properly use the https url for the repository path.

So this line, before calling semantic

[2021-04-28 13:49] trietsch commented on #156
Does the OP still have issues with this? I've just tried what @mmuenker showed as an example, and for me, it's working as it should. A new release is created in GitLab.

[2021-04-28 13:50] trietsch commented on #156
@dosuken123 do you still have issues with this? I've just tried what @mmuenker showed as an example, and for me, it's working as it should. A new release is created in GitLab.

[2021-04-28 14:54] AndrusovaK commented on #186
@aldrashan Hi, Have you managed to tackle this issue with certificates? We've faced the same problem

[2021-04-28 19:15] aldrashan commented on #186
Nope. Never heard from our admins again. I don't have the access rights to go sniffle around in our network settings, so I'm not using this currently.

[2021-05-18 12:50] ldc2726 opened #238 "No GitLab token specified."
I encountered the following problem
`
Failed step "verifyConditions" of plugin "@semantic-release/gitlab"

AggregateError:
    SemanticReleaseError: No GitLab token specified.`

`curl --header "PRIVATE-TOKEN:xcxxx" http://192.168.1.184/dyWeb/diyi-ui`

Returns the result：
<html><body>You are being <a href="http://192.168.1.184/users/sign_in">redirected</a>.</body></html>%

Redirected to the login p

[2021-05-19 02:50] ldc2726 commented on #238
`Running with gitlab-runner 13.11.0 (7f7a4bb0)
  on diyi-ui-dev jiyVb7Ua
Preparing the "shell" executor
Using Shell executor...
Preparing environment
Running on diyideMacBook-Pro.local...
Getting source from Git repository
Fetching changes...
Reinitialized existing Git repository in /Users/ldc/builds/jiyVb7Ua/0/dyWeb/diyi-ui/.git/
Checking out 058ee8b6 as master...
Skipping Git submodules setup
Ex

[2021-05-19 02:52] ldc2726 commented on #238
`Running with gitlab-runner 13.11.0 (7f7a4bb0)
  on diyi-ui-dev jiyVb7Ua
Preparing the "shell" executor
Using Shell executor...
Preparing environment
Running on diyideMacBook-Pro.local...
Getting source from Git repository
Fetching changes...
Reinitialized existing Git repository in /Users/ldc/builds/jiyVb7Ua/0/dyWeb/diyi-ui/.git/
Checking out 058ee8b6 as master...
Skipping Git submodules setup
Ex

[2021-05-19 02:53] ldc2726 commented on #238
`ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects
{"message":"401 Unauthorized"}%                                                 ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects/dyWeb/diyi-ui
{"error":"404 Not Found"}%    `

[2021-05-19 02:53] ldc2726 commented on #238
`ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects
{"message":"401 Unauthorized"}%
 ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects/dyWeb/diyi-ui
{"error":"404 Not Found"}%    `

[2021-05-19 02:56] ldc2726 commented on #238
I retried it based on the other issuses

`ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects
{"message":"401 Unauthorized"}%   `

  `ldc@diyideMacBook-Pro ~ % curl --header "PRIVATE-TOKEN:3rJ4h1-RPRc-mY6j99mq0" http://192.168.1.184//api/v4/projects/dyWeb/diyi-ui
{"error":"404 Not Found"}%    `

[2021-05-19 03:04] ldc2726 commented on #238
`Running with gitlab-runner 13.11.0 (7f7a4bb0)
  on diyi-ui-dev jiyVb7Ua
Preparing the "shell" executor
Using Shell executor...
Preparing environment
Running on diyideMacBook-Pro.local...
Getting source from Git repository
Fetching changes...
Reinitialized existing Git repository in /Users/ldc/builds/jiyVb7Ua/0/dyWeb/diyi-ui/.git/
Checking out 491bcae2 as master...
Skipping Git submodules setup
Ex

[2021-05-19 03:24] ldc2726 commented on #238
`Running with gitlab-runner 13.11.0 (7f7a4bb0)
  on diyi-ui-dev jiyVb7Ua
Preparing the "shell" executor
Using Shell executor...
Preparing environment
Running on diyideMacBook-Pro.local...
Getting source from Git repository
Fetching changes...
Reinitialized existing Git repository in /Users/ldc/builds/jiyVb7Ua/0/dyWeb/diyi-ui/.git/
Checking out 2bc2a7ec as master...
Skipping Git submodules setup
Ex

[2021-05-19 05:05] ldc2726 commented on #238
curl --header "Private-Token:sBW16dUSWb7c17wicS_Y" http://192.168.1.184/api/v4/projects/96

This is fine, but the job token is still wrong

[2021-05-19 05:07] ldc2726 commented on #238
![image](https://user-images.githubusercontent.com/34648806/118759180-19fb1f00-b8a3-11eb-9005-d4f57e09a36e.png)

[2021-05-19 07:05] ldc2726 commented on #238
![image](https://user-images.githubusercontent.com/34648806/118770077-7c5c1b80-b8b3-11eb-8083-59a90664e334.png)
![image](https://user-images.githubusercontent.com/34648806/118770118-8716b080-b8b3-11eb-8218-fe547b7a67b7.png)
![image](https://user-images.githubusercontent.com/34648806/118770128-8b42ce00-b8b3-11eb-9297-a91c655250d6.png)

[2021-05-19 10:00] #238 closed

[2021-05-20 12:01] ldc2726 opened #239 "code 400"
021-05-20T05:02:43.750Z semantic-release:git commited files: [ 'CHANGELOG.md' ]
[1:02:44 PM] [semantic-release] [@semantic-release/git] › ℹ  Prepared Git release: v1.2.5
[1:02:44 PM] [semantic-release] › ✔  Completed step "prepare" of plugin "@semantic-release/git"
[1:02:44 PM] [semantic-release] › ℹ  Start step "generateNotes" of plugin "@semantic-release/release-notes-generator"
2021-05-20T05:02

[2021-05-20 12:02] ldc2726 commented on #239
{
    "branches": [
        "+([0-9])?(.{+([0-9]),x}).x",
        "master",
        "next",
        {"name": "beta", "prerelease": true},
        {"name": "alpha", "prerelease": true}
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
            "@semantic-release/gitlab",

[2021-05-20 12:03] ldc2726 commented on #239
![image](https://user-images.githubusercontent.com/34648806/118975222-5cf1eb00-b9a6-11eb-8462-c7e342cf4b49.png)
{
    "branches": [
        "+([0-9])?(.{+([0-9]),x}).x",
        "master",
        "next",
        {"name": "beta", "prerelease": true},
        {"name": "alpha", "prerelease": true}
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-

[2021-05-20 12:03] ldc2726 commented on #239
help,,,,,,why????

[2021-05-20 12:04] ldc2726 commented on #239
![image](https://user-images.githubusercontent.com/34648806/118975331-7dba4080-b9a6-11eb-8747-a427e9354bf8.png)
`{
    "branches": [
        "+([0-9])?(.{+([0-9]),x}).x",
        "master",
        "next",
        {"name": "beta", "prerelease": true},
        {"name": "alpha", "prerelease": true}
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release

[2021-05-20 12:05] ldc2726 commented on #239
![image](https://user-images.githubusercontent.com/34648806/118975411-91fe3d80-b9a6-11eb-87df-baf9e6576bda.png)
{
    "branches": [
        "+([0-9])?(.{+([0-9]),x}).x",
        "master",
        "next",
        {"name": "beta", "prerelease": true},
        {"name": "alpha", "prerelease": true}
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-

[2021-05-20 12:08] tukusejssirs commented on #186
I’ve encountered the same issue. Locally, I am not able to successfully run `git ls-remote --heads $url` unless the token is added to the URL as follows:

[code]

How can I fix this in the config? Without fixing this I am not able to use `semantic-release` with Gitlab CI successfully.

[2021-05-21 01:53] ldc2726 commented on #192
I got the same problem. code 400

[2021-05-21 02:36] ldc2726 commented on #192
![image](https://user-images.githubusercontent.com/34648806/119073586-307ab500-ba20-11eb-9490-7e063526c8d2.png)
I tried to add the attribute "name" to the body, and the result was successful. I hope to optimize it as soon as possible, I think it may be a bug, thank you

[2021-05-21 02:40] ldc2726 commented on #239
before:
![image](https://user-images.githubusercontent.com/34648806/119074035-de865f00-ba20-11eb-92b1-3f508a185f56.png)
add "name":
![image](https://user-images.githubusercontent.com/34648806/119074004-d3333380-ba20-11eb-8d8b-2dbb5eaac597.png)
after：
![image](https://user-images.githubusercontent.com/34648806/119073956-c0206380-ba20-11eb-9d0c-814cf611a815.png)

I tried to add the attribute "name"

[2021-05-21 19:58] nfriend commented on #239
@ldc2726 Thanks for reporting! Very weird. [According to the docs](https://docs.gitlab.com/ee/api/releases/#create-a-release), the `name` attribute is optional - if it's omitted, it defaults to the `tag_name` property.

I just confirmed this myself by `POST`ing to a test project on GitLab.com with the following body:

[code]

and the release was successfully created: https://gitlab.com/nfriend/rel

[2021-05-21 20:15] nfriend commented on #228
@existe-deja Sorry for the slow response!

You should be able to attach build artifacts as assets to a release using the [`assets` configuration option](https://github.com/semantic-release/gitlab#options).

By default, GitLab will automatically provide the job running `semantic-release` with all build artifacts from previous jobs, so you should just be able to configure your `.releaserc.json` like

[2021-05-21 22:28] nfriend commented on #238
@ldc2726 Is this still an issue? Or did you get it figured out?

[2021-05-24 04:36] ldc2726 commented on #239
@nfriend
1.Owner
2.
![image](https://user-images.githubusercontent.com/34648806/119296803-3d9bdc00-bc8c-11eb-95c9-075e2f35ff53.png)

No matter what version is causing the problem, I still want to be as compatible as possible by adding the "name" attribute to it，thank you!

[2021-05-24 04:37] ldc2726 commented on #239
@nfriend
1.Owner
2.
![image](https://user-images.githubusercontent.com/34648806/119296803-3d9bdc00-bc8c-11eb-95c9-075e2f35ff53.png)

No matter what version is causing the problem, I still want to be as compatible as possible by adding the "name" attribute to it，thank you!

[2021-05-25 14:37] nfriend commented on #239
@ldc2726 Ah, yep, the GitLab version is the culprit!

I looks like this attribute [was required in GitLab 11.X](https://docs.gitlab.com/11.11/ee/api/releases/index.html#create-a-release), but [then changed to be optional in GitLab 12.X](https://docs.gitlab.com/12.10/ee/api/releases/index.html#create-a-release).

I'm a little unsure what to do here, since according to [Gitlab's support schedule](ht

[2021-05-25 16:52] linxux commented on #192
Meet the same issue.

[2021-05-26 04:21] ldc2726 commented on #239
Well, I chose to submit a PR so that more people could avoid this problem.
#240

[2021-05-26 04:23] ldc2726 commented on #192
It should be similar to my question, and I have submitted a PR and it is waiting for review
#239

[2021-05-27 20:18] nfriend commented on #239
Thanks @ldc2726! I won't have time to review this week but will prioritize this next week!

[2021-05-28 07:11] #228 closed

[2021-05-31 13:33] existe-deja opened #241 "Best practice to access to next version tag outside of semantic-release job?"
Hi,

I need to access to the `nextRelease.version` generated tag in my deployment job. Do you have some best practice to share for accessing it?

Thanks

[2021-05-31 16:53] nfriend commented on #241
@existe-deja Does this answer your question? https://semantic-release.gitbook.io/semantic-release/support/faq#is-there-a-way-to-preview-which-version-would-currently-get-published

[2021-06-01 12:41] existe-deja commented on #241
Kind of. But with the dry-run I have to re-run the release script just for deployment.

I found those two way:
- https://docs.gitlab.com/ee/user/project/push_options.html#push-options-for-gitlab-cicd
- https://docs.gitlab.com/ee/ci/variables/#pass-an-environment-variable-to-another-job

Did you have the chance to use one of them?

Something hard to conceptualize is semantic-release is like a pipel

[2021-06-04 19:02] nfriend commented on #241
Yes, that's spot on! I've thought the exact same thing.

Yes, I've used the `.env` option in the past for a different use-case. Off the top of my head, I think this is probably the best option to make the version available for jobs that come after the `semantic-release` job.

[2021-06-07 07:35] #241 closed

[2021-06-10 07:08] alecgerona commented on #239
Also seems to happen on Gitlab.com.
![image](https://user-images.githubusercontent.com/6406447/121480371-947c1200-c9fd-11eb-90db-b5d41864b0f3.png)

Same 400 error code but not really sure if the same cause of failure since the reason is not explicitly logged.

[2021-06-11 08:15] linxux commented on #192
Any update?

[2021-06-15 07:56] kitos9112 commented on #139
Hitting the same issue with the latest NodeJS 16 version. I've built a custom Dockerfile image based on the following package.json

I'll give it a go downgrading to NodeJS 13.11.

Dockerfile
[code]

package.json
[code]

[2021-06-15 08:19] kitos9112 commented on #139
After enabling `--debug` I did notice that the connection timed out because of not being able to connect to GitLab from our GitLab runners as they sit behind a corporate proxy for all outbound traffic.

Found this opened MR which may mitigate this problem, however, maintainers are not willing to get it merged yet.

https://github.com/semantic-release/gitlab/pull/229

[2021-06-16 17:42] nfriend commented on #239
@joffreyvillard That's very possible! Are you using the latest version of `@semantic-release/gitlab`? This plugin was updated to stop using the deprecated API in https://github.com/semantic-release/gitlab/pull/184, which is included in version 6.0.7 and beyond.

[2021-06-16 17:48] nfriend commented on #239
@alecgerona I agree explicitly logging the error code is a good step 👍 I'll try and open a PR for this tomorrow.

And sorry for the slow turnaround time here, @ldc2726 - I'm hoping to revisit this tomorrow!

[2021-06-17 08:29] joffreyvillard commented on #239
Thanks for your reply @nfriend!

I'm using `semantic-release/gitlab` via the `aplyca/semantic-release` Docker image (https://hub.docker.com/r/aplyca/semantic-release) which is 8 months old, and embeds `semantic-release` version 17.4.4 (weirdly enough, the logs say 17.1.2) and `@semantic-release/gitlab` version 6.1.0

![image](https://user-images.githubusercontent.com/37925755/122359456-dce38480-cf

[2021-06-17 20:43] nfriend commented on #239
Just FYI, I opened a PR to add better logging: https://github.com/semantic-release/gitlab/pull/245. Once this is merged, hopefully it will be a little easier to debug the root issue from the logs.

[2021-06-18 13:09] joffreyvillard commented on #239
I can confirm that it works well on my side with the latest version (using `node:alpine` image + `npm install -g semantic-release @semantic-release/gitlab ...` instead of `aplyca/semantic-release`) - don't get why the `npm view` commands run within a container using that last image were indicating that the last version was in use :shrug:

Thanks again for your prompt replies and the suggested/ongo

[2021-06-18 20:33] nfriend commented on #239
@joffreyvillard Awesome, glad to hear it!

[2021-06-28 17:13] anragen opened #249 "semantic-release: GotError [HTTPError]: Response code 404 (Not Found)"
After upgrade gitlab from 13.12 to 14.0 i get an error

[19:52:30] [semantic-release] › ✖  Failed step "publish" of plugin "@semantic-release/gitlab"
[19:52:30] [semantic-release] › ✖  An error occurred while running semantic-release: GotError [HTTPError]: Response code 404 (Not Found)
    at EventEmitter.<anonymous> (/Users/anri/gitlab/project/node_modules/got/source/as-promise.js:74:19)
    at p

[2021-06-29 17:42] nfriend commented on #249
@anragen I think it's quite likely this is a result of using an old(ish) version of `@semantic-release/gitlab`. Can you upgrade to version `6.0.7` or higher and let me know if this fixes the issue?

I'm working on a PR that will add some docs about this version incompatibility. For now you can read the details here: https://github.com/semantic-release/gitlab/pull/246/files

I'll close this for now

[2021-06-29 17:42] #249 closed

[2021-06-29 19:53] anragen commented on #249
@nfriend thanx

[2021-07-01 16:12] mikaelkaron commented on #174
I think this has happened now: https://docs.gitlab.com/ee/user/project/releases/#use-a-generic-package-for-attaching-binaries

[2021-07-02 09:01] nghnam opened #250 "Failed at step "publish" with semantic-release/gitlab 6.2.1"
Hello everyone.

I am using `@semantic-release/gitlab` for our project. Here is output of runner
[code]

My config:
[code]

Version semantic-release: `6.2.1`
Version gitlab:  `14.0.2-ee`

Thanks.

[2021-07-09 22:37] pps1 opened #252 "CHANGELOG.md not updated"
Hi there,

We've implemented semantic-release in a GitLab pipeline successfully and releases are working almost as expected. The only issue we are having is with changelogs. While changelogs are being written and pushed to the artifacts repository, they are not updated in the project repo, therefore resulting in single entry changelogs and loss of revision history inside of the project. I've inclu

[2021-07-13 13:00] theMoynahammer commented on #250
I encountered the same issue. Upgrading to version 6.0.7 fixed it for me. The Readme has info under the "Breaking Changes in 14.0" section.

[2021-07-14 02:55] nghnam commented on #250
@theMoynahamme I am using
[code]
but problem is still happened

[2021-07-15 04:21] #250 closed

[2021-07-20 03:44] EvanCarroll commented on #66
I'm also getting this,

[code]

[2021-07-20 22:18] EvanCarroll commented on #66
Ok. I now know the error here.

The problem is in the [gitlab setup docs it says](https://docs.gitlab.com/ee/ci/examples/semantic-release.html)

[code]

This is again mentioned in the [npmrc docs](https://docs.gitlab.com/ee/user/packages/npm_registry/#authenticate-to-the-package-registry)

[code]

But this is **NOT** correct if your repository is in a GitLab Group different from the npm scope.

So

[2021-07-21 18:20] EvanCarroll opened #256 "Error 409"
I'm still getting this Error 409. It would be great if nothing else to have more information than `--debug` provides,

[code]

This works locally when I run,

    CI=1 GITLAB_TOKEN=token npx semantic-release --publish --ci

So I'm at a loss for why it wouldn't work on the smoker.

[2021-07-22 05:12] EvanCarroll commented on #239
@joffreyvillard  that's because `npm view` shows you the version on the repo, not the version you have installed. You want

[code]

[2021-07-22 07:51] EvanCarroll commented on #239
I also don't think @joffreyvillard and @ldc2726's issues are the same. @joffreyvillard pasted an error with a 404. This issue isolates error 400.

[2021-07-22 16:17] EvanCarroll opened #258 "Documentation fix."
I think it's a better to make these example uniform, it's really confusing.

`semantic-release/gitlab` (this project)
====

[code]

1. It's not clear from the above how to publish an angular project, which builds into `dist` hand has many "assets". `npm pack` just needs to be told to the `dist/` directory that contains the `package.json`, for example `npm pack dist/my-workspace/my-lib`. How do we

[2021-07-22 17:57] EvanCarroll commented on #256
I have hacked my source to provide a `name`, which was suggested here https://github.com/semantic-release/gitlab/issues/66

I've confirmed this does **NOT** work for me.

See the log here: [log.txt](https://github.com/semantic-release/gitlab/files/6864285/log.txt)

[2021-07-22 20:26] EvanCarroll opened #259 "Fail on git push --dry-run --no-verify: remote: HTTP Basic: Access denied"
I've tried authenticating with

* Project Access token
  * w/ just API
  * w/ API & Write Repo
* Personal Access token with API & Write Repo

I still get failures like this,

[code]

However, with each one of these three tokens I can confirm it works with

[code]

I guess the questions here are why is `semantic-release:git`'s `verifyAuth` being called, and why doesn't it use the `GITLAB_TOKEN` tha

[2021-07-22 21:17] jfalomir123 opened #260 "Not using scoped registry"
Hi,

I'm trying to use semantic-release to publish to a scoped private registry on gitlab but I keep getting error because it's trying to auth against the public registry instead the private one.

Here are my settings (with some things obscured)
package.json

[code]
.npmrc (The authTokens are personal tokens with full access)
[code]

.releaserc.json
[code]

I've tried multiple ways of running it f

[2021-07-23 14:56] tacnoman commented on #192
I solved creating a new file with name and in pipeline after install I replace the file

[code]

I copied the publish.js to my project folder and added a parameter name, like this:

[code]

[2021-07-23 19:26] EvanCarroll commented on #259
Well, that was a waste of 8 hours.

My problem was my token was in quotes. Something I would have **IMMEDIATELY** figured out if either,

1. something warned me that the token was in quotes,
2. the token was unconfigurably changed to `[secure]` everywhere it was outputted..

[2021-07-23 19:50] EvanCarroll commented on #259
If anyone else does the same thing, I would love to see you comment on here and fess up to it. I do wonder how common this is.

[2021-07-26 13:22] c3098051 opened #263 "Not Found on gitlab 14.1.0"
I updated gitlab to community 14.1.0 lately, and running semantic-release failed.
semantic-release/gitlab could uploads the file like version.txt, and changelog, but after that, the job is failed due to "Not Found" error.

[8:53:39 PM] [semantic-release] [@semantic-release/gitlab] › ℹ  Uploaded file: /uploads/24c08e17680d23f5b07aef90ff1d33ee/VERSION.txt
[8:53:39 PM] [semantic-release] [@semantic-r

[2021-07-26 17:46] #259 closed

[2021-07-27 17:54] EvanCarroll opened #264 "BUG: as-promise.js should not silently fail, it should display the body of error responses to the user."
I am able to show that `as-promise.js` has a silent failure mode where the body of the request that results in an error is not displayed to the user.

**This is not the right place to solve this problem**, but I could prove the body was not being reflected to the user by modifying this,

[code]

[code]

This gave me much needed contextual information about

[code]

this error, such that I could se

[2021-07-27 17:58] EvanCarroll opened #265 "Can not create release if ** matches multiple files with the same name."
I'm getting this error,

[code]

[2021-07-27 19:45] r4j4h opened #266 "Gitlab releases endpoint change"
We recently upgraded to Gitlab 14.0 and it would appear that Gitlab failed to document some breaking changes to the Release/Tags API, at least that I could find after some extensive looking.

If my hunch is correct, this breaks semantic-release/gitlab because of https://github.com/semantic-release/gitlab/blob/master/lib/publish.js#L86 where it always tries to use `/tags/release` to create releases

[2021-07-27 20:47] r4j4h commented on #266
Closing this as it ends up we are simply using an out of date version of this plugin 🤦‍♀️

[2021-07-27 20:47] #266 closed

[2021-07-28 18:47] EvanCarroll commented on #265
This is the same issue as https://github.com/semantic-release/gitlab/issues/158

Note:
* It's not solved.
* the workaround _"Found another even simpler workaround: remove the label property for any patterns that match more than one file. In this case, this module will fall back to creating each item with its label set to the file's name."_ doesn't work if the file name is not unique.

[2021-07-29 19:34] EvanCarroll commented on #265
It may be worth documenting too, but you would use this feature like this

[code]

Now all things found in `dist/cpanel/angular-validators/` have their label in the release relative to the `pkgRoot`

[2021-08-03 00:38] jfalomir123 commented on #260
So I realized that if I change the private field on the package.json from `false ` to `true ` I no longer get the error but it skips the actual publish of the npm package.
I get the following:

[code]

[2021-08-03 17:09] jfalomir123 commented on #260
Closing since I believe this is on the npm package not the gitlab one.

[2021-08-03 18:12] centerorbit commented on #151
For others as well, I had forgotten to add the CI variable `GITLAB_TOKEN`, as mentioned here:

https://docs.gitlab.com/ee/ci/examples/semantic-release.html#set-up-cicd-variables

[2021-08-05 09:16] tyronedd commented on #40
Hi, this is a old issue, but I think this should be possible now if I'm thinking this through correctly:

1. The Commits API now supports [finding the associated Merge Request(s) with a commit sha](https://docs.gitlab.com/ee/api/commits.html#list-merge-requests-associated-with-a-commit)
2. From there you find ID of the Merge Request that actually has been merged and use that ID to find [issues tha

[2021-08-05 11:56] tyronedd commented on #40
I tried to verify the proposal above would work and it seems so! I wrote it in bash for prototyping:
[code]

and the result running on a small project:

![image](https://user-images.githubusercontent.com/17970041/128345883-f96aba9f-5240-44c2-93b5-47e34a7df99e.png)

[2021-08-05 17:54] nfriend commented on #40
@tyronedd Very cool! Thanks for putting this proof-of-concept together 💯

[2021-08-05 18:12] nfriend commented on #239
Thanks everyone for the discussion!

It's been determined the root cause of this specific 400 error is an outdated GitLab version (v11) - [see this comment above](https://github.com/semantic-release/gitlab/issues/239#issuecomment-847924888). We've decided not to fix this issue to minimize the maintenance burden of this plugin and stay consistent with this plugin's [compatibility guidelines](https:

[2021-08-05 18:12] #239 closed

[2021-08-13 09:47] a-reznic commented on #186
the some problem
[code]

[2021-08-13 09:54] a-reznic commented on #186
I fixed with variable name GL_TOKEN and it is working
with GITLAB_TOKEN not

[2021-09-20 17:18] triwats commented on #258
This seems really sane to me and should be approved

[2021-09-22 09:48] languitar opened #280 "Does not work with semantic release version 18"
The current `package.json` limits semantic release to version < 18, which was release recently. An update of this plugin for compatibility with the new semantic release version would be great.

[2021-09-23 03:56] travi commented on #280
resolved by #279

[2021-09-23 03:56] #280 closed

[2021-09-24 15:12] makampf commented on #263
Which library?

[2021-09-29 10:49] basaa commented on #151
I had the same issue, and I realized that I restricted the access to my repositories (only SSH); I changed it to both (SSH and HTTPS) and it worked.

[2021-10-01 11:01] mohit497 commented on #259
found the same  issue today trying to setup CI on github actions

[2021-10-14 22:59] david-shepard commented on #259
I'm having a similar issue, I have `GH_TOKEN` set and it insists on trying SSH authentication. I cannot figure out why.

[2021-10-26 00:12] oyamin opened #291 "semantic-release keeps defaulting to GitHub"
No matter what I try, npm run/npx keeps trying to use GitHub plugin instead of GitLab. Tried node:latest, node:alpine, docker:dind. Same issue accross the board. Ran it from my repo that I cloned from GitLab. Please review.

[code]

[2021-10-26 02:09] #291 closed, assigned to nobody

[2021-10-27 12:18] cpflugra opened #292 "Semantic Release suddenly stopped working"
Semantic Release suddenly stopped working for us. I'm not sure about the exact cause but I'll try to give you all relevant details.

We use a self-hosted GitLab instance. After upgrading to GitLab Community Edition 14.3.3 we noticed Semantic Release not working anymore. I'm not sure which GitLab CE version we used before but it must have been 14.2.x or 14.3.x. If it's important I can try to find i

[2021-11-08 12:43] bingling0084 opened #299 "HTTPError: Response code 404 (Not Found)"
[code]
Part of my gitlab CI config:
[code]
gitlab version: v11.4.0
"@semantic-release/changelog": "^6.0.1",
"@semantic-release/git": "^10.0.1",
"@semantic-release/gitlab": "^7.0.4",
"@semantic-release/npm": "^8.0.3",
"semantic-release": "^18.0.0"

Thanks for your help.

[2021-11-11 09:41] balessan commented on #299
That looks like a blocker to me, any idea how we can get what's going on here ?

Collaborator of @plup here, we got this issue in our publishing pipeline using @semantic-release/gitlab to push some of our packages update to NPM automatically and it stopped working right after our Gitlab hosting upgrade.

We tried to push the semantic-release/gitlab version to 6.0.7 which should be the minimal comp

[2021-11-11 15:47] plup commented on #299
An update to the last major version of all components (`semantic-release@18`, `@semantic-release/gitlab@7`) solved the problem for us.

[2021-11-25 13:26] radhika-pr opened #305 "semantic-release do not work with gitlab group-token"
We have a gitlab group and set of projects under that where we want to run release pipelines automatically whenever a tag is created. The pipeline need to be triggered automatically and should be run in different projects. So we used group token to initiate these automatic jobs.
But the job fails with below error
[code]

The job will proceed and be successful if we rerun it by any user of the proj

[2021-11-30 15:16] MikeYermolayev commented on #151
Oh my god..... My branch was not marked as protected but GITLAB_TOKEN env was marked as *protected*...

[2021-12-17 11:49] mfoti commented on #174
I have also an error uploading file with size greater than 100Mb:
`[semantic-release] [@semantic-release/gitlab] › ✖  An error occurred while uploading /builds/[...]/MyPackage-1.0.0-amd64.deb to the GitLab project uploads API:`
Can I try to post a PR?

[2022-01-05 09:54] desprit commented on #158
@nfriend

I'm struggling with the same issue. Could you take a look, please?

My `dist` folder after `build` step has the following structure:
[code]
I'm receiving the following error:
[code]

If I disable generation of declaration files release works good. Is it not possible to have directories in the `dist`? Or is it due to something else?
One more thing that I noticed is this:
[code]
which mean

[2022-01-06 11:16] khan0amh commented on #292
In my case the logs just end here:
[code]

And the pipeline cancelled itself.

[2022-01-11 12:59] dimooze commented on #265
Hi ! Thanks for this lib :)

I'am also experiencing the same issue as @EvanCarroll. I have a bunch of `index.js / index.d.ts / index.js.map` in my build and so i have duplicated names in my publish with this kind of json to post:
[code]

Resulting in an error `Validation failed: Links have duplicate values`.

I've seen the PR from @EvanCarroll [267](https://github.com/semantic-release/gitlab/pull/

[2022-01-25 10:41] AljoschaP commented on #156
Is someone actively working on it?

[2022-01-25 10:48] dosuken123 commented on #156
Ah cool. Then, we can close this issue :)

Sent from my iPhone

[2022-01-26 13:19] nejch commented on #305
This is an upstream issue that was fixed in 14.8 with https://gitlab.com/gitlab-org/gitlab/-/merge_requests/78595. Really no way around it if you use group tokens.

[2022-01-31 10:35] borisdamevin opened #330 "How get release message on merge request?"
This message is not write on merge request. Is normal or I miss something?

[code]

[2022-02-01 08:45] borisdamevin opened #331 "Avoid pipeline start after commit release?"
Hi,

I have issue with GitLab, after de `semantic-release` command one release commit is created, is what I want, but this commit restart the CI pipeline...

Is possible to avoid this behaviour like GitHub does automaticaly?

Thank you.

[2022-02-03 20:48] #331 closed

[2022-02-04 19:26] fgreinacher commented on #330
This feature is not implemented at the moment, similar to #40.

I am working on it in #332.

[2022-02-11 21:53] nfriend opened #333 "Removing myself as maintainer of semantic-release/gitlab"
Hey @semantic-release! Just wanted to let you know I'm going to be removing myself as a maintainer of `semantic-release/gitlab`. I no longer work at GitLab and haven't been able to find time to prioritize reviews or maintenance tasks.

Thanks for your ongoing work on this fantastic project! 🙏 🏅

[2022-02-11 21:53] #333 closed

[2022-02-16 17:19] travi commented on #333
thank you so much for your help while you were able. we really appreciate it and you made an important impact. don't hesitate to let us know if you want to come back in an official capacity at some point. obviously, you are always welcome to provide input in an unofficial capacity at any time as well.

[2022-02-22 06:31] cpflugra commented on #292
Update: After updating our self hosted GitLab instance to 14.7.2 I removed the workaround and can't reproduce the bug anymore.

I'm closing this issue as the solution seems to be to update your GitLab instance to at least version 14.7.2.

[2022-02-22 06:31] #292 closed

[2022-02-22 22:13] borisdamevin commented on #330
@fgreinacher Any new about your PR?

[2022-02-22 22:21] fgreinacher commented on #330
@borisdamevin It is ready, but is waiting for maintainer review.

[2022-02-23 19:28] ddsultan commented on #186
I am also getting the same error. Any solutions or hints? I tried `NODE_EXTRA_CA_CERTS`, but no luck

[2022-02-23 19:31] ddsultan commented on #186
Any hints how to fix this SSL issue? Thanks!

[2022-02-24 16:57] TilmannBach commented on #330
fgreinacher thanks for your work in this! 🚀

[2022-02-28 11:54] kabomi commented on #299
We got the same error using v6.0.2  & semantic-release@17.0.4.
It stopped working after we upgraded gitlab. Not sure which version it was, but what I know is that that config didn't work with gitlab community edition 14.5.2.

Upgrading semantic-release/gitlab@6.2.2 worked out

[2022-03-17 17:02] CosyOranges opened #334 "Adding ${nextRelease.version} to label of asset"
Hey not so much an issue as it is a question...

I'm trying to add the nextRelease.version to the label of my asset, but when I do it just comes through as the string for "${nextRelease.version}"

[code]

**result:**
[code]

**expected:**
[code]
I've seen that this feature was added in 6.0.4... so it's more a question of where I'm going wrong 😅 ...

[2022-03-20 11:34] #40 closed

[2022-03-22 10:45] fgreinacher commented on #330
This is working in [v8.0.0](https://github.com/semantic-release/gitlab/releases/tag/v8.0.0) and above.

[2022-03-22 10:45] #330 closed

[2022-03-22 13:59] baby-gnu opened #344 "successComment has bad formatted emojis"
Hello.

There should be a space between `:package:` and `:rocket` because they are not displayed on my 14.6 self hosted gitlab.

![semantic-release-gitlab-successComment-emoji-fail](https://user-images.githubusercontent.com/1233212/159498495-b0a7a52c-1a09-45ed-9f7e-644cff71c846.png)

Thanks.

[2022-03-24 12:12] TilmannBach commented on #344
there is another bug in the comment: the link to the gitlab release does not work correctly:
![image](https://user-images.githubusercontent.com/2125941/159913503-0cd7ecaf-7d04-49cf-b7a4-cd6afb5e665c.png)
this `%2F` should be a slash instead

[2022-03-24 12:14] JonasSchubert commented on #344
#342 would fix both issues

[2022-03-24 14:02] #344 closed

[2022-03-24 16:36] borisdamevin opened #351 "successComment format"
Hi,

Is possible to set the sentence `Your ...` on new line every time? And if the sentence `The release is...` have only one intel, finish with a dot?

![image](https://user-images.githubusercontent.com/1703605/159965209-e70d5a24-7316-4426-bc73-618d9752ca88.png)

Expected:

[code]
Thank you.

[2022-03-25 09:58] fgreinacher commented on #305
Closing this, upgrading GitLab is the only way to fix this.

[2022-03-25 09:58] #305 closed

[2022-03-31 11:27] #351 closed

[2022-04-04 16:45] JonasSchubert commented on #334
Hi, unfortunately I don't see this (yet) being implemented:

The label is used as a plain string, not as a template: https://github.com/semantic-release/gitlab/blob/master/lib/publish.js#L39=
It should look similar to the success-message: https://github.com/semantic-release/gitlab/blob/master/lib/success.js#L30=

Maybe:
[code]

[2022-04-11 07:39] fgreinacher commented on #139
Node 13 has been out of support for quite some time now, so I'm closing this.

If you still have problems in recent versions, please create new issues 🙏

[2022-04-11 07:39] #139 closed

[2022-04-11 07:40] fgreinacher commented on #147
Closing this as it seems to be a duplicate of #139.

Feel free to reopen if I got this wrong!

[2022-04-11 07:40] #147 closed

[2022-04-11 07:45] fgreinacher commented on #155
This looks a bit similar to #139. Is it still happening for you in current Node versions?

[2022-04-11 13:12] jgoelten opened #360 "Plugin fails with ERR_INVALID_URL since NO_PROXY uses a ULR parser"
**Report**
Since version v9.1.0 of the gitlab plugin for semantic-release the plugin fails with an error. The introduction of NO_PROXY support in v9.1.0 contains a new URL parser (see https://github.com/semantic-release/gitlab/commit/3051799160efc127585d30a4ef776ccf34185fee#diff-3c41bd6e7d07732417abb44146ae10fa613e5d61d5df96d088e44cb8d5dc557fR66)  which now fails for urls without a protocol define

[2022-04-11 13:30] vgropp opened #361 "Response code 429 (Too Many Requests) on successComment"
We are running into the gitlab API limit on some projects when multiple semantic-releases are running at the same time from share IPs.

[code]

As far as I understand the code https://github.com/semantic-release/gitlab/blob/3051799160efc127585d30a4ef776ccf34185fee/lib/success.js#L72 for very Commit the script is looking for a MR, with those MR the script is searching for an resolved issue. So ther

[2022-04-11 18:39] fgreinacher commented on #360
@Babbafett Could you have a look?

[2022-04-11 18:42] fgreinacher commented on #361
Thanks for reporting this @vgropp!

You can disable the new feature by setting the `successComment` option to `false`.

Other than that I think it would make sense to add proper handling of such cases to this plugin.

[2022-04-12 12:46] Babbafett commented on #360
The thing is that the used hpagent package requires to know to which type of protocol the connection is establish means http or https:
<img width="346" alt="image" src="https://user-images.githubusercontent.com/5669913/162964298-1d7db4ea-de55-408a-b4df-ee456d94aa87.png">

Because depending on that either the HttpProxyAgent or HttpsProxyAgent object needs to be selected
We could either say that wit

[2022-04-13 08:59] hvanoch opened #363 "TypeError: VALIDATORS[option] is not a function"
This popped up today. Was working fine last week.

My release.config.js looks like
[code]
[code]

[2022-04-13 10:52] #360 closed

[2022-04-13 10:54] fgreinacher commented on #363
@JonasSchubert Looks related to https://github.com/semantic-release/gitlab/pull/349/files, could you have a look?

[2022-04-13 14:03] JonasSchubert commented on #363
@fgreinacher will do so on the coming weekend.
Could be related to missing validator for successComment. I forgot that. And will check if anything else is missing.

[2022-04-13 19:06] JonasSchubert commented on #363
If it is urgent maybe. I'm on vacation and unfortunately without prober computer. Saturday is the earliest I can work on it

[2022-04-13 19:59] fgreinacher commented on #363
I’ll have a look tomorrow (before leaving for vacation 😀)

[2022-04-13 21:19] JonasSchubert commented on #363
I think we can either check whether an validator exists [here](https://github.com/semantic-release/gitlab/blob/bea6b3cf7872c81d5dd935259c5dbd0f832eb41f/lib/verify.js#L37). E.g.:
[code]

Or (in my opinion better) we add the missing validators [here](https://github.com/semantic-release/gitlab/blob/bea6b3cf7872c81d5dd935259c5dbd0f832eb41f/lib/verify.js#L15). I think the missing validators are `milest

[2022-04-14 14:52] #363 closed

[2022-04-16 16:55] JonasSchubert commented on #258
Hi. I created a small PR #366 to start working on this. Feel free to jump on and work on this. I just added the missing configuration for `branches`.

Regarding your remarks:
1. In your angular example: Do you want to create a NPM package or a zipped dist folder? If you want to create a NPM package hosted in the package registry, I think the documentation for the NPM plugin is more relevant.
2. I

[2022-04-18 15:49] fgreinacher opened #368 "Refactor options validation"
<a href='https://hearts.dev/projects/3/users/fgreinacher'><img width='50' alt='' align='right' src='https://hearts.dev/projects/3/users/fgreinacher/tally.svg'></a>

@travi @JonasSchubert I'd suggest to tackle this in two steps:

1.  Merge this fix to unblock folks asap.
2. Create a follow-up issue to refactor the option validation. IMO it's super brittle and we should clean it up properly so that

[2022-04-24 12:58] fgreinacher commented on #192
@renatocassino @merlosy I am successfully using this plugin with our self-hosted GitLab instance. Can you share more details of your setup to help understand what could be the reason for your issues?

Possibly interesting information:

- Your semantic-release config
- Version and flavor of your GitLab instance
- Your build/release pipeline

[2022-04-26 03:22] kphunter commented on #256
In my case, the GitLab tags had been removed but the `Releases` still contained refs that conflicted. Removing these allowed `semantic-release` to run error-free.

[2022-04-28 17:36] JonasSchubert opened #372 "docs: add example for custom labels"

[2022-04-28 17:39] JonasSchubert commented on #368
How shall we continue here?
To keep it similar to semantic-release/github I simply would add the missing validations and write a Unit Test checking whether all validations are covered (Including new validations).
Or did you consider a bigger refactoring @fgreinacher ?

[2022-04-28 18:39] #334 closed

[2022-05-05 17:01] ericschmar commented on #256
Can you elaborate on what you had to do here? I'm not sure I understand. I are you saying you edited individual releases in GitLab to remove the refs in parenthesis that were pointing to commits?

[2022-05-05 17:23] EvanCarroll commented on #256
@ericschmar I believe what @kphunter is saying is he had to use the GitLab Releases API to delete the corresponding releases. But tagging him will help get an answer to that. ;)

[2022-05-11 21:48] kphunter commented on #256
That's correct - either remove the [GitLab Release](https://docs.gitlab.com/ee/user/project/releases/) via [the API](https://docs.gitlab.com/ee/api/releases/#delete-a-release) or manually through the UI to get rid of the reference that is causing the conflict.

[2022-05-13 02:38] frankbloggs opened #376 "RequestError: unable to verify the first certificate"
Trying to implement in CI pipeline, GL_TOKEN in place, ssl certificate-bundle finally setup correctly and working
git ls-remote --heads https://.... working correctly

I feel I'm very close now and really don't want to give-up now, any help to resolve this greatly appreciated,.

RUN npm install -g \
    semantic-release@19.0.2 \
    @semantic-release/gitlab@9.2.0 \
    @semantic-release/exec@6.0.3

[2022-05-13 09:35] DanielMcKracken opened #377 "SSH key based authentication instead of personal access token"
Dear all,

I managed to enabled the ssh authentication for my project - from the pipeline log I can see that semantic-release is successfully checking the ssh connection:
`semantic-release:get-git-auth-url Verifying ssh auth by attempting to push to  git@gitlab.com:mygroup/myproject.git`

But as soon as the gitlab plugin is involved to publish the gitlab release the following error occurs:
[code]

[2022-05-15 04:23] softshape opened #378 "How to use semantic release generated version in Gitlab CI/CD ?"
There is a phrase in GitLab docs -

Our semantic release succesfully updates changelog.md, but in the package.json version remains "0.0.0". Is there any config we need to setup to make it update version in package.json ?

[2022-05-16 08:32] #154 closed

[2022-05-22 13:54] tobiasbaehr commented on #378
I did not found this phrase in the repo README, but this FAQ should answer your question(s) https://github.com/semantic-release/semantic-release/blob/master/docs/support/FAQ.md#why-is-the-packagejsons-version-not-updated-in-my-repository

[2022-05-22 14:43] softshape commented on #378
Well it's not really clear. `"private": true` is already set in my package.json. FAQ states "the [@semantic-release/git](https://github.com/semantic-release/git) plugin can be used to push the updated package.json as well as other files to the Git repository." but doesn't clarify how.

[2022-05-22 14:50] softshape commented on #378
May be there is any other way to read the version set by semantic release from Gitlab build script?

[2022-05-22 14:50] JonasSchubert commented on #378
Do you use a configuration file? E.g. `.releaserc.json`?
It can look similar to this:

[code]

Version releases are running on branch `main`, beta releases on branch `dev`.
Plugin `npm` manipulates `package.json` and `package-lock.json` and plugin `git` commits the changed files.

[2022-05-22 16:01] softshape commented on #378
Thank you Jonas! Your config solved the problem (there was no npm plugin in my .releaserc)

[2022-05-24 10:58] Krewedk0 opened #382 "Failing to publish assets with url without specifying `path`"
Release 9.3.0 (#322) introduced a feature to publish assets with direct links when `url` field specified in asset.
But `path` field is still required for this to work, otherwise release fails with

`The assets option (https://github.com/semantic-release/gitlab/blob/master/README.md#assets) must be an Array of Strings or Objects with a path property.`

This check wasn't changed here https://github.

[2022-05-24 19:12] MeNsaaH opened #383 "labels cannot be disable as shown on README"
The  docs say that to disable labels, set it to `false`. HOwever, on setting to false, it throws this error:
[code]
I checked the `verify.js` and can see that the validator for labels just does a string check as opposed to the rest that checks if the value is either false or a valid string.

[2022-05-26 10:03] akashgupta88 opened #384 "Release notes as comment on commit (not MR)"
We are using semantic-release on our Gitlab hosted environment to deploy packages to great effect.

In our case however there is one difference, the code is generated and pushed to the repository as commits on master, and we would like to see what version of the package was deployed on every commit from which the release is made.

Sometimes when changes need to be manually added they are done as M

[2022-05-27 09:45] fgreinacher commented on #384
Not at the moment, is this possible via the GitLab API?

[2022-05-27 09:47] fgreinacher commented on #383
Indeed, the verification logic is wrong here.

Happy to take a PR for fixing this :)

/cc @JonasSchubert

[2022-05-27 09:47] fgreinacher commented on #382
@awcjack Can you have a look?

[2022-05-27 09:50] fgreinacher commented on #378
Problem seems to be solved, so I'm closing this. Feel free to reopen if necessary!

[2022-05-27 09:50] #378 closed

[2022-05-27 11:58] JonasSchubert commented on #383
Created a PR. Sorry for the bug!

[2022-05-27 12:01] JonasSchubert commented on #384
If I understood the use case correct it could be done with [this](https://docs.gitlab.com/ee/api/commits.html#post-comment-to-commit). Is this what you meant, @akashgupta88 ?

[2022-05-28 04:19] akashgupta88 commented on #384
@fgreinacher yes it is possible using the API that @JonasSchubert correctly pointed out.

[2022-05-29 03:36] awcjack commented on #382
Didn't realize it when rebase
I will create pull request later

[2022-05-31 03:31] #382 closed

[2022-05-31 03:57] fgreinacher commented on #384
Cool! Next step would be to think about how to configure this. Should be opt-in and not conflict with existing commenting features.

[2022-05-31 05:01] fgreinacher commented on #382
:tada: This issue is resolved in version 9.3.2 :tada:

The release is available on:
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/@semantic-release/gitlab/v/9.3.2)
- [GitHub release](https://github.com/semantic-release/gitlab/releases/tag/v9.3.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-05-31 18:26] travi commented on #384
does the tag added by semantic-release not accomplish this goal?

[2022-06-01 03:25] akashgupta88 commented on #384
@travi it actually does but partly.

- For the purpose of looking up which version was deployed against a commit, tags do the job.
- However with comments, we are looking to be notified as watchers of the repository that a new release has been made.
    - Our use case involves an automated process where we generate and deploy code automatically on a schedule.

[2022-06-01 19:08] travi commented on #384
does gitlab not have a way to subscribe to release notifications? github has this ability natively. this feels more like a gitlab feature request than something that semantic-release should be responsible for

could you expand on how this involves semantic-release? semantic-release is specifically intended to encourage continuous deployment style workflows rather than schedule based releases. with

[2022-06-02 02:20] akashgupta88 commented on #384
@travi going into a bit more detail with our workflow:

- The code generation is scheduled, not the release itself.
- Codegen can also be triggered at anytime.
- We generate some unified data models in multiple languages for being used in different platforms.
- Generated code gets pushed to master in the repo on which semantic-release gets triggered as part of a pipeline.

Part of the workflow whi

[2022-06-02 15:42] MullaCode opened #392 "Unable to connect to GitLab from behind proxy in "verifyConditions" of plugin "@semantic-release/gitlab""
Hello

I'm having issues in the  Verify GitLab authentication stage when running npx semantic-release

Build is running in a Docker container via Jenkins behind a proxy.
The proxy is set both as Environment variables (HTTP_PROXY & HTTPS_PROXY) and in the file /etc/sysconfig/docker
I know that the proxy is working as I can download from Gitlab already and I can install NPM modules. This is the outp

[2022-06-03 08:17] kaerbr opened #393 "Failing (?) feature "allow adding URLs to release assets""
## Current behavior

As of version [9.3.0](https://github.com/semantic-release/gitlab/releases/tag/v9.3.0) its possible to add urls to assets for linking to docker registry or other artifact storages.
Unfortunately I cant get this feature to work for me.
The URL to be used is given in my `.releaserc.yml`., but the pipeline fails (see at the bottom of this issue).

If I run the command manually (cu

[2022-06-03 09:40] #392 closed

[2022-06-03 09:42] MullaCode commented on #392
Setting the ENV variables for the proxy wasn't enough on the host or /etc/sysconfig/docker level. I had to set the env vars right before executing npx semantic-release in the docker container.

[2022-06-03 13:14] kaerbr commented on #393
Maybe related to #192 ?

[2022-06-03 19:08] elvis-pereira commented on #393
I'm having the same problem.

Config on `.releaserc.js`

[code]

GitLab CI Logs:

[code]

[2022-06-04 05:45] fgreinacher commented on #393
@awcjack Could you check this?

[2022-06-04 09:29] kaerbr commented on #393
So I did some more research/debugging. The underlying problem is the following:

If I only specify `url` in my assets object:
[code]
the call to the releases api of gitlab will only contain `url` and `type`. But as written in the [docs](https://docs.gitlab.com/ee/api/releases/#create-a-release) `label` is also necessary if `assets:links` is present
[code]

So a workaround for me is to always add `

[2022-06-08 05:09] awcjack commented on #393
Thanks for the investigation. 👍

[2022-06-09 14:07] softshape opened #399 "How to write version to any file other than package.json ?"
As we know npm plugin can write version to the package.json file in a root folder. Is there any way to configure semantic release to:

1. write version to any other JSON file, say version.json ?
2. write it to non-JSON file, for example in Yaml format?
3. write version to a file not in the root folder?

So far I've no success in any of that.

The real problem is that the root files in my project a

[2022-06-15 13:59] IGZangelcostales opened #405 "create only tags?"
Hi team,

I looking for a way to just create the tags with semantic-release, but I don't want to publish a release in GitLab after the tag. it's possible? How can I do it?

Thank you very much in advance.

[2022-06-16 00:55] r4j4h commented on #405
I think in that case you would just want to use the @semantic-release/git plugin and not the @semantic-release/gitlab plugin

[2022-06-16 02:21] r4j4h commented on #159
Yeah I think you would just define two different configs, one for the branch pipeline and another for the tag pipeline, using `semantic-release --extends <config>` to select between them.

The branch pipeline would be customized to only use plugins like commit analyzer, changelog, git (so it tags), etc, but not gitlab.

The tag pipeline would be customized to only use plugins like gitlab. I think

[2022-06-17 12:41] jagiella opened #406 "asset url containing ${nextRelease.version} not working/expanded"
I would like to create version dependent `url`s as release assets pointing to the specific file on an other filehosting server.

[code]

The release page nevertheless will contain the following link:
[code]

For the asset label that seems to work as the [documentation suggests](https://github.com/semantic-release/gitlab#usage), e.g.
[code]

But why not for the `url`?

[2022-06-19 16:46] kaerbr opened #407 "Question: Use (environment) variable for URL (and label)"
I would like to be able to set `url`( and `label` dynamically).

Lets say I've set an environment `URL` in my `.gitlab-ci.yml` (will be set dynamically in the "real world") :
[code]

If I try to pass this variable into the gitlab plugin, the variable won't resolve. See `.releaserc.yml`:
[code]
This will result in the following JSON payload that will be send to the gitlab releases API:
[code]
and w

[2022-06-19 23:56] jagiella commented on #407
I guess, that my question points into a similar direction:
#406

[2022-06-20 11:16] fgreinacher commented on #406
This absolutely makes sense!

Happy to take a PR, probably very similar to https://github.com/semantic-release/gitlab/pull/365.

[2022-06-20 11:17] fgreinacher commented on #407
Yes, I think we can close this in favor of https://github.com/semantic-release/gitlab/issues/406.

[2022-06-20 12:58] kaerbr commented on #407
Closing in favour of #406

[2022-06-20 12:58] #407 closed

[2022-06-21 07:17] ebiton-eig opened #410 "No error but the published package can't be found in registry"
Hi!

I'm using a script based on the official [Gitlab documentation](https://docs.gitlab.com/ee/ci/examples/semantic-release.html#:~:text=%20Publish%20npm%20packages%20to%20the%20GitLab%20Package,variables.%20As%20part%20of%20publishing%20a...%20More%20) that worked fine until now, but recently, published packages don't appear in the Gitlab registry despite running without errors.

[code]

Is it p

[2022-06-23 07:00] JonasSchubert commented on #399
I see two options here:

1. Use a custom plugin which fulfills your need of updating a version in build.gradle
  a. There is for example [this](https://github.com/KengoTODA/gradle-semantic-release-plugin) one, but this requires your version in `gradle.properties`
  b. Right your own plugin which handles this
2. Use [semantic-release/exec](https://github.com/semantic-release/exec) and write your ow

[2022-06-23 07:05] #372 closed

[2022-06-23 10:38] fgreinacher commented on #399
I fully agree with what @JonasSchubert says.

I'll close this issue as it's not really related to the gitlab plugin. Feel free to open a new issue in the main repo https://github.com/semantic-release/semantic-release.

[2022-06-23 10:38] #399 closed

[2022-06-23 10:39] fgreinacher commented on #405
Closing this as it has been answered, feel free to reopen if anything is still unclear.

[2022-06-23 10:39] #405 closed

[2022-06-23 10:41] fgreinacher commented on #410
This plugin is only creating GitLab releases and comments on MRs/issues.

Publishing NPM packages is done by https://github.com/semantic-release/npm.

@ebiton-eig Can you please move this issue there?

[2022-06-23 10:49] fgreinacher commented on #377
This is unfortunately not possible, because we're using the GitLab API which does not support SSH auth.

[2022-06-23 10:49] #377 closed

[2022-06-23 10:52] fgreinacher commented on #376
Looks like a problem with the TLS certificate of your GitLab instance to me.

Maybe self-signed?

[2022-06-23 10:55] fgreinacher commented on #199
See answers above, feel free to reopen if necessary.

[2022-06-23 10:55] #199 closed

[2022-06-27 07:48] ebiton-eig commented on #410
Ok, I created the issue in the correct project, thanks.

[2022-06-27 08:09] #410 closed

[2022-07-07 18:41] oliveirarafa opened #421 "An error occurred while making a request to the GitLab release API - Response code 400 (Bad Request)"
I'm having a problem when creating the release at gitlab. For what I can see the files as found, uploaded but for some reason the call to the API faills.

I'm using gitlab.com, have set up the access token.

Packages versions
[code]

Gitlab.com CI/CD Log
[code]

.releaserc
[code]
I've tried not using glob pattern for assets, changing my GITLAB_TOKEN and using the GITLAB_URL and GITLAB_PREFIX (curr

[2022-07-08 20:57] kaerbr commented on #421
The problem here is that you have to set an label/name for an url asset. Have a look into this comment: https://github.com/semantic-release/gitlab/issues/393#issuecomment-1146577393

There already is a PR for automatic taking the name from the given URL (: (https://github.com/semantic-release/gitlab/pull/401)

[2022-07-08 21:40] oliveirarafa commented on #421
It solved my problem! Thank you.

Just noticed that i got a "HTTPError: Response code 429 (Too Many Requests)". Apparently the API got called many times to fetch MRs. Strange. Got to investigate. But thank you very much for your help.

[2022-07-08 21:44] #421 closed

[2022-07-09 02:24] oliveirarafa opened #422 "How upload JS files (error 422)"
For what I figured, gitlab blocks uploaded .js files because of security.

The documentation tells me to use a glob to get all files from my dist folder my gitlab returns a page like this:

![image](https://user-images.githubusercontent.com/35575006/178088049-559c6c3e-32b8-409a-82f0-fc477d3284b4.png)

Is there a way to include the .js files directly in the assets section instead of making a zip wi

[2022-07-10 14:05] xr-james opened #423 "High security issue reported by npm for dependency parse-path <5.0.0"
NPM is currently alerting users to a severe error in the CLI when installing or working with this package, `@semantic-release/gitlab`, specifically referencing an exploit available in the `parse-path` dependency when using versions < 5.0.0 when examining details from `npm audit`.

[code]

The suggested fix is to install version `1.0.0` of this package which is quite a difference from the latest ve

[2022-07-11 18:12] #406 closed

[2022-07-11 18:16] fgreinacher commented on #422
We don't support that natively, sorry. Could you zip your assets as part of your build and reference the zip instead?

[2022-07-11 18:19] fgreinacher commented on #423
Thanks @xr-james, there are already some automated PRs to upgrade this dependency (#415, #419 and #420) but the upgrade seems to break the plugin. I'll have a look!

[2022-07-11 19:25] oliveirarafa commented on #422
Yes. I did that but I think it would be better to upload js directly. But no problem, i'll keep making a zip file. Thanks.

[2022-07-11 19:25] #422 closed

[2022-07-11 20:53] #423 closed

[2022-07-15 17:24] #151 closed

[2022-07-15 17:25] fgreinacher commented on #155
Closing this as I assume it is fixed in current Node versions. Feel free to reopen!

[2022-07-15 17:26] fgreinacher commented on #157
Closing as per the comments above. Feel free to reopen!

[2022-07-15 17:26] #157 closed

[2022-07-15 17:28] #161 closed

[2022-07-15 17:29] fgreinacher commented on #163
This should work. Feel free to reopen if it still happens for you.

[2022-07-15 17:29] #163 closed

[2022-07-15 17:31] #167 closed

[2022-08-08 12:05] fgreinacher commented on #159
I think the replies above show some quite good options that are available right now. Feel free to reopen or create a new issue for things that are missing.

[2022-08-08 12:05] #159 closed

[2022-08-08 12:08] fgreinacher commented on #153
Closing this as the #165 is essentially the same.

[2022-08-08 12:08] #153 closed

[2022-09-04 01:41] #383 closed

[2022-09-19 12:04] smfelsher commented on #186
I was running into a similar issue with certificates and my GitLab CI and I had to update the certificates. I added the following lines to the `before_script` section of my job

[code]

[2022-09-28 14:26] altosys opened #448 "Plugin is not respecting configuration disabling comments"
I'm trying to disable the success and fail comments for the plugin, but not succeeding.

I've set up the plugin in my `.releaserc.yml` like this:
[code]

I've tried with `false` as both string and yaml boolean (ie unquoted), but in both cases the pipeline fails with this error:
[code]
Why is it still trying to post comments, and how do I properly disable it?

[2022-09-30 15:19] khaledeltarabily commented on #186
I was facing a similar issue with certificates and my local GitLab, you have to make node ignore invalid self-signed ssl certificate with https.request.

How ignore invalid self-signed ssl certificate:
(https://stackoverflow.com/questions/10888610/ignore-invalid-self-signed-ssl-certificate-in-node-js-with-https-request)

So you can just add the following lines to github-ci.yaml in before_script se

[2022-10-01 01:15] autotmp commented on #156
I'd imagine [gitlab-org/gitlab issue 223679](https://gitlab.com/gitlab-org/gitlab/-/issues/223679) should resolve this but the timeline seems bit fluid (and far out there).

[2022-10-01 01:22] autotmp opened #449 "Reduce access_level requirements when using --dry-run"
My team has a few projects where we require doing a `--dry-run` to obtain `nextRelease` information in an MR. Ideally we could use a token with reduced scope (say just `read_repository` and `read_api`).

As a test this snippet in `verify.js` worked well enough to pass local testing.

[code]

Ultimately it would be great if #156 would get closed out by GitLab adding some functionality to adjust the

[2022-10-01 06:25] fgreinacher commented on #448
Did you try `successComment: false`?

[2022-10-01 07:33] altosys commented on #448
Yes.

[2022-10-04 20:33] fgreinacher commented on #448
Ah, thanks for the update!

Still a bit strange that you see this error. If `successComment` is correctly set to `false` there is no way we could reach the exception handler that causes the message you have seen (see https://github.com/semantic-release/gitlab/blob/master/lib/success.js#L22-L24).

I'm closing this for now, feel free to reopen if you run into the issue again!

[2022-10-04 20:33] #448 closed

[2022-10-04 20:35] fgreinacher commented on #449
This sounds like a very useful feature to me! PRs welcome :)

[2022-10-04 20:47] fgreinacher commented on #186
Thanks for all the tips. I think there is nothing we can do in the plugin to prevent such issues, so I'm closing the issue.

Feel free to comment/reopen if I'm missing something.

[2022-10-04 20:47] #186 closed

[2022-10-15 10:35] patsevanton opened #454 "Error: Command failed with exit code 128: git push. main remote: You are not allowed to upload code."
Log:
[code]

Source code https://gitlab.com/anton_patsev/terraform-yandex-compute
.gitlab-ci.yml:
[code]

.releaserc.json:
[code]

package.json:
[code]

I created token:
![image](https://user-images.githubusercontent.com/10828883/195981868-9c74072e-7b33-468d-bf5e-861b6520325d.png)

Add TOKEN to Settings > CI/CD > Variables
![image](https://user-images.githubusercontent.com/10828883/195981901-6e46d

[2022-11-02 17:16] fgreinacher commented on #454
Technically this is a problem in https://github.com/semantic-release/git, but looking at the log it seems to fall back to HTTPS and succeed with that:

[code]

[2022-11-03 07:00] patsevanton commented on #454
Thanks for answer. should i open issue in https://github.com/semantic-release/git or simple close this issue ?
Job is work.

[2022-11-03 13:12] Sayrus commented on #165
Hey,

I'm having this issue. Following the issues lead me to https://gitlab.com/gitlab-org/gitlab/-/issues/223832 which was closed for inactivity but not fixed.
Would you be open to a merge request to check `shared_with_groups` value in semantic-release as a workaround while waiting for a fix from Gitlab?

[2022-11-03 14:03] #449 closed

[2022-11-03 14:41] Sayrus commented on #165
As far as I can tell, it contains the info needed:

[code]

From https://github.com/semantic-release/gitlab/blob/26d7f9f37e7f7b1904f1c6b48039132e95f872d9/lib/verify.js#L71, we only check `access_level`. Maybe I'm missing something since I only quickly glanced at the code.

[2022-11-04 11:11] fgreinacher commented on #454
@patsevanton To me it looks like this is the expected behavior, and your job seems to be working. Feel free to open an issue in https://github.com/semantic-release/git if something is not working for you.

[2022-11-04 11:11] #454 closed

[2022-11-04 11:13] fgreinacher commented on #165
Yes `shared_with_groups` does not verify that the authenticated user is member of these groups, so we would need additional calls to verify access. I could imagine this become quite convoluted, so maybe we should rather consider @nfried's suggestion above:

[2022-11-04 13:01] Sayrus commented on #165
That makes sense, sending more requests will end up quite convoluted, harder to maintain and may even make things worse.

I've read the main repo's code and the code flow and maybe there is an even easier solution. Could we simply skip over this step and not check for push permission? Semantic release already does a `git push --dry-run` before calling `verifyConditions`.

https://github.com/semant

[2022-11-15 19:37] fgreinacher commented on #165
Sorry for the late response.

Generally this sounds feasible, but we might at some point want to get rid of that to enable use cases like #156 where the authenticated user cannot push, but can create tags via API.

What if we just verify by calling maintainer/developer-only API endpoints and see if they succeed, like in the description of https://gitlab.com/gitlab-org/gitlab/-/issues/223832?

[2022-11-18 01:17] luchanan commented on #454
@fgreinacher have you find the solution？

[2022-11-18 01:18] luchanan commented on #454
@patsevanton  have you find the solution？

[2022-11-18 06:39] fgreinacher commented on #454
What do you mean? As said above I think this is normal behavior.

[2022-11-18 09:53] luchanan commented on #454
i have the same problem.

I've defined GL_TOKEN variable

[code]

the error log like this

[code]